<h1>Edit DAMS Vocabulary Entry</h1>
<%= form_for @dams_vocab_entry do |f| %>
  <%= label_tag 'dams_vocab_entry[code]', "Code" %><%= text_field_tag 'dams_vocab_entry[code][]', @dams_vocab_entry.code[0] %>
  <%= label_tag 'dams_vocab_entry[value]', "Value" %><%= text_field_tag 'dams_vocab_entry[value][]', @dams_vocab_entry.value[0] %>
  <%= label_tag 'dams_vocab_entry[valueURI]', "Value URI" %><%= @dams_vocab_entry.valueURI[0] %>

  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_vocab_entry_path( @dams_vocab_entry ), class: "btn btn-primary" %>
<%end%>
