<h1>Create a new DAMS Vocabulary Entry</h1>
<%= form_for @dams_vocab_entry do |f| %>
  <%= label_tag 'dams_vocab_entry[code]', "Code" %><%= text_field_tag 'dams_vocab_entry[code]' %>
  <%= label_tag 'dams_vocab_entry[value]', "Value" %><%= text_field_tag 'dams_vocab_entry[value]' %>
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
