<%
	ark = render_document_show_field_value(:document=>@document, :field=>"id_t") 
	componentCount = @document['component_count_isi']
	componentHasFiles = check_for_files(@document['component_map_tesim'])
	
	for i in 1..componentCount
		if componentHasFiles[i]
			
				fileType = render_file_type(:component=>i) 
				display_file = render_display_file(:component=>i)
				service_file = render_service_file(:component=>i)
				service_file = "/view/#{ark}/_#{i}_#{service_file}"
				display_file = (display_file != "no_display") ? "/view/#{ark}/_#{i}_#{display_file}" : ""
%>
			<div class="complex-<%= i %>">
	
				<% case fileType %>
				<% when 'image-service' %>
					<%= render :partial => 'image_viewer', :locals => {:source => service_file,:display => display_file} %>
				<% when 'audio-service' %>
					<%= render :partial => 'audio_viewer', :locals => {:source => service_file} %>
				<% when 'video-service' %>
					<%= render :partial => 'video_viewer', :locals => {:source => service_file, :display => display_file} %>
				<% when 'document-service' %>
					<%= render :partial => 'pdf_viewer', :locals => {:source => service_file, :display => display_file} %>
				<% when 'data-service' %>
					<%= render :partial => 'data_viewer', :locals => {:source => service_file} %>
				<% else %>
					<%= render :partial => 'default_viewer' %>
				<% end %>
			
			</div>
<%
		end
	end
%>     
