<% if defined?(filePath) %>

	<div class="well dams-download-button">
		<a class="btn btn-large btn-block btn-danger" href="<%= filePath %>">
			<i class="icon-download-alt icon-white"></i>
			Download
		</a>
	</div>

<% else %>

	<%	ark = render_document_show_field_value(:document=>@document, :field=>"id_t") %>
	<%	fileType = render_document_show_field_value(:document=>@document, :field=>"files_tesim") %>
	
	<div class="well dams-download-button">
		<% if fileType.include?('1.tar.gz') %>
			<a class="btn btn-large btn-block btn-danger" href="<%= "/view/#{ark}/_1.tar.gz" %>">
				<i class="icon-download-alt icon-white"></i>
				Download GZIP file
			</a>
		<% elsif fileType.include?('1.tar') %>
			<a class="btn btn-large btn-block btn-danger" href="<%= "/view/#{ark}/_1.tar" %>">
				<i class="icon-download-alt icon-white"></i>
				Download TAR file
			</a>
		<% elsif fileType.include?('1.zip') %>
			<a class="btn btn-large btn-block btn-danger" href="<%= "/view/#{ark}/_1.zip" %>">
				<i class="icon-download-alt icon-white"></i>
				Download ZIP file
			</a>
		<% elsif fileType.include?('1.xml') %>
			<a class="btn btn-large btn-block btn-danger" href="<%= "/view/#{ark}/_1.xml" %>">
				<i class="icon-download-alt icon-white"></i>
				Download XML file
			</a>
		<% end %>
	</div>
	
<% end %>