<!--
single object:
file_3.jpg_formatName_tesim: JPEG
file_3.jpg_use_tesim: visual-thumbnail
file_1.jpg_size:6419
files_tesim: 2.mp3, 1.wav 

complex object:
component_count_isi: 2
component_1_file_4.jpg_formatName_tesim: JPEG
component_1_file_4.jpg_mimeType_tesim: image/jpeg
component_1_file_4.jpg_use_tesim: visual-thumbnail
component_1_file_4.jpg_quality_tesim: 106x150
'component_1_resource_type_tesim' => ['text']
'component_2_files_tesim'=>['4.jpg','5.jpg','2.jpg','3.jpg','1.jpg']
'component_2_file_3.jpg_size_isi' => 64619 

@document['file_3.jpg_formatName_tesim'] == "JPEG"
-->

 
<div class="row-fluid">
  <div class="span12">    
      <% if @document['id_t'] != nil %> 

      
  <!-- Slideshow 3 -->
  <div id="wrapper">
    <div class="rslides_container">
      <ul class="rslides" id="slider3">
        <li> <%= image_tag "http://localhost:3000/view/bb90909090/_3.jpg" %></li>
        <li> <%= image_tag "http://localhost:3000/view/bb53535353/_3.jpg" %></li>
        <li><%= image_tag "http://placedog.com/g/460/500?c" %></li>
      </ul>
    </div>
  </div>




 <!-- single object -->
      <% fileType=render_file_type(:component=>"0") %>
       


        <% if fileType.include?('image') %>
          <%=render :partial => 'image_viewer' %>
        <% elsif fileType.include?('audio') %>
        
          <%=render :partial => 'audio_viewer' %>
        <% elsif fileType.include?('video') %>
          <%=render :partial => 'video_viewer' %>
        <% elsif fileType.include?('document') %>
          <%=render :partial => 'document_viewer' %>
        <% elsif fileType.include?('data') %>
          <%=render :partial => 'data_viewer' %>
        <% else %>
          <%=render :partial => 'default_viewer' %>
        <% end %>


  

  <% end %>
  </div>
</div>

        

 

