<button class="btn btn-mini btn-link btn-block" type="button" data-toggle="collapse" data-target="#metadata-fold"><strong>Hide metadata</strong></button>
<section id="metadata-fold" class="collapse in">
	<dl class="dl-horizontal">
		<%= render :partial => 'shared/fields/collection' %>
		<%= render :partial => 'shared/fields/unit' %>
		<%= render :partial => 'shared/fields/date' %>
		<%= render :partial => 'shared/fields/language' %>
		<%= render :partial => 'shared/fields/resource_type' %>
		<%# render :partial => 'shared/fields/genre_form' %>
		<%# render :partial => 'shared/fields/relationships' %>
		<%# render :partial => 'shared/fields/corporate_name' %>
		<%# render :partial => 'shared/fields/topic' %>
		<%= render :partial => 'shared/fields/subject' %>
		<%# render :partial => 'shared/fields/cartographic' %>
		<%= render :partial => 'shared/fields/note' %>
		<%= render :partial => 'shared/fields/copyright' %>
		<%= render :partial => 'shared/fields/license' %>
		<%= render :partial => 'shared/fields/statute' %>
		<%= render :partial => 'shared/fields/other_rights' %>
		<%= render :partial => 'shared/fields/rights_holder' %>
		<%= render :partial => 'shared/fields/related_resource' %>
	</dl>
</section>
