<button class="btn btn-mini btn-link btn-block" type="button" data-toggle="collapse" data-target="#metadata-fold"><strong>Hide metadata</strong></button>

<div id="metadata-fold" class="collapse in">
	
	<dl class="dl-horizontal">
		<%= render :partial => 'object/fields/date' %>
		<%= render :partial => 'object/fields/language' %>
		<%= render :partial => 'object/fields/type_of_resource' %>
		<%= render :partial => 'object/fields/topic' %>
		<%= render :partial => 'object/fields/subject' %>
		<%= render :partial => 'object/fields/genre_form' %>
		<%= render :partial => 'object/fields/corporate_name' %>
		<%= render :partial => 'object/fields/note' %>
		<%= render :partial => 'object/fields/unit' %>
		<%= render :partial => 'object/fields/collection' %>
		<%= render :partial => 'object/fields/copyright' %>
		<%= render :partial => 'object/fields/license' %>
		<%= render :partial => 'object/fields/statute' %>
		<%= render :partial => 'object/fields/other_rights' %>
		<%= render :partial => 'object/fields/rights_holder' %>
	</dl>

</div>
