<div class="row">

  <div id="content" class="span9 show-document">
  <%# render 'previous_next_doc' %>

  <%# @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) -%>
  <%# extra_head_content << render_link_rel_alternates %>
  <%# sidebar_items << render_document_sidebar_partial %>

  <%# this should be in a partial -%>
  <div id="document" class="<%# render_document_class %>">
    <div id="doc_<%# @document.id.to_s.parameterize -%>">
      <%= render_document_heading(:h1).html_safe %>
      <div class="document">
      
        <% if @document['namet_tesim'] != nil %>
          <p>Name: <%= render_document_show_field_value(:document=>@document, :field=>"name_tesim") %></p>
        <% end %>

        <% if @document['copyright_id_tesim'] != nil %>
          <div>
            <p>Copyright:</p>
            <ul>
              <li><%= render_document_show_field_value(:document=>@document, :field=>"copyright_id_tesim") %></li>
              <li><%= render_document_show_field_value(:document=>@document, :field=>"copyright_status_tesim") %> (<%= render_document_show_field_value(:document=>@document, :field=>"copyright_jurisdiction_tesim") %>)</a></li>
              <li><%= render_document_show_field_value(:document=>@document, :field=>"copyright_purposeNote_tesim") %><%= render_document_show_field_value(:document=>@document, :field=>"copyright_note_tesim") %></li>
              <li><%= render_document_show_field_value(:document=>@document, :field=>"copyright_beginDate_tesim") %></li>
            </ul>
          </div>
        <% end %>

        <% if @document['license_id_tesim'] != nil %>
          <p>License</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"license_id_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"license_note_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"license_uri_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"license_permissionType_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"license_permissionBeginDate_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['statute_id_tesim'] != nil %>
          <p>Statute</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_id_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_citation_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_jurisdiction_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_note_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_restrictionType_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"statute_restrictionBeginDate_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['otherRights_id_tesim'] != nil %>
          <p>Other Rights</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_id_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_basis_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_uri_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_permissionType_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_permissionBeginDate_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_name_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"otherRights_role_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['language_1_id_tesim'] != nil %>
          <p>Language</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"language_1_id_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"language_1_code_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"language_1_value_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"language_1_valueURI_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['rightsHolder_1_tesim'] != nil %>
          <p>Rights Holder(s)</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"rightsHolder_1_id_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"rightsHolder_1_name_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['unit_name_tesim'] != nil %>
          <p>Unit</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"unit_id_tesim") %></li>
          </ul>
        <% end %>
        
        <% if @document['component_1_title_tesim'] != nil %>
          <p>Component 1</p>
          <ul>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"component_1_title_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"component_1_date_tesim") %></li>
            <li><%= render_document_show_field_value(:document=>@document, :field=>"component_1_note_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['component_2_title_tesim'] != nil %>
          <p>Component 2</p>
          <ul>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"component_2_title_tesim") %></li>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"component_2_date_tesim") %></li>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"component_2_note_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['relatedResource_1_uri_tesim'] != nil %>
          <p>Related Resource</p>
          <ul>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"relatedResource_1_type_tesim") %></li>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"relatedResource_1_uri_tesim") %></li>
          <li><%= render_document_show_field_value(:document=>@document, :field=>"relatedResource_1_description_tesim") %></li>
          </ul>
        <% end %>

        <% if @document['subject_tesim'] != nil %>
          <p>Subjects:</p>
          <ul>
            <% @document['subject_tesim'].each do |sub| %>
            <li><%= sub %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
  </div>
</div>
