<%
	@page_title =  "Object | #{grabTitle}"
%>

<div class="row-fluid">
	<div class="dams-breadcrumbs span12">
		<%= render :partial => 'breadcrumbs' %>
	</div>
</div>

<div class="row-fluid">
  <div id="content" class="show-document span9">
	
		<div class="row-fluid">
			<section class="dams-viewer span12">
				<%= render :partial => 'shared/fields/title' %>
				<%= render :partial => 'object_viewer' %>
			</section>
		</div>

		<div class="row-fluid">
			<section class="dams-metadata span12">
				<%= render :partial => 'metadata' %>
			</section>
		</div>

	 </div>
	 <div class="span3">

		<div class="row-fluid">
			<section class="dams-sidebar span12">
				 <%= render :partial => 'show_damstools' %>
				<%if @document['component_count_isi'] != nil   %>
					<%= render :partial => 'component_tree' %>
				<% end %>
				<%= render :partial => 'related_resources' %>
				
			</section>
		</div>

	</div>
</div>

<div class="row-fluid">
	<section class="dams-comments span9">
		<%= render :partial => 'comments' %>
	</section>
</div>
