<h1><%= @mads_family_name.name.first %></h1>

<div>
  <dl>
    <dt>FullNameElement:</dt>
    <dd><%= @mads_family_name.fullNameValue %></dd>
    <dt>FamilyNameElement:</dt>
    <dd><%= @mads_family_name.familyNameValue %></dd>
    <dt>GivenNameElement:</dt>
    <dd><%= @mads_family_name.givenNameValue %></dd>
    <dt>DateNameElement:</dt>
    <dd><%= @mads_family_name.dateNameValue %></dd>
    <dt>TermOfAddressNameElement:</dt>
    <dd><%= @mads_family_name.termOfAddressValue %></dd>                
    <dt>Scheme:</dt>
    <dd><%= @mads_family_name.scheme %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_family_name.externalAuthority %></dd>
  </dl>
  <% if can? :update, @mads_family_name %>
    <%= link_to "Solr View", mads_family_name_path(@mads_family_name), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_family_name_path(@mads_family_name), class: "btn btn-primary"%>
    <%= link_to "View All", mads_family_names_path(), class: "btn btn-primary"%>
  <% end %>
</div>
