<% @page_title =  "Edit Conference Name" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Conference Name</h2>
		<%= form_for @mads_conference_name do |f| %>
			<%= render 'error_messages', object: f.object %>
			<%= label_tag 'mads_conference_name[name][]', "Name" %>
			<%= text_field_tag 'mads_conference_name[name][]', @mads_conference_name.name[0], class: "input-block-level" %>
			<%= label_tag 'mads_conference_name[nameValue][]', "NameElement" %>
			<%= text_field_tag 'mads_conference_name[nameValue][]', @mads_conference_name.nameValue, class: "input-block-level" %>
			<%= label_tag 'mads_conference_name[dateNameValue][]', "DateNameElement" %>
			<%= text_field_tag 'mads_conference_name[dateNameValue][]', @mads_conference_name.dateNameValue, class: "input-block-level" %>

			<%= label_tag 'mads_conference_name[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_conference_name[externalAuthority][]', @mads_conference_name.externalAuthority, class: "input-block-level" %>
			<%= label_tag 'mads_conference_name[scheme][]', "scheme" %>
			<%= select_tag 'mads_conference_name[scheme][]', options_for_select(MadsScheme.all.collect{ |s| [s.name.first, s.pid] }, :selected => @scheme_id ) %>
			
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_conference_name_path(@mads_conference_name), class: "btn btn-link pull-right" %>
			</div>
		<%end%>
	</div>
</div>
