<h1>Create a new MADS conference Name</h1>
<%= form_for @mads_conference_name do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_conference_name[name]', "Name" %>
  <%= text_field_tag 'mads_conference_name[name]' %>
  <%= label_tag 'mads_conference_name[nameValue]', "NameElement" %>
  <%= text_field_tag 'mads_conference_name[nameValue]' %>
  <%= label_tag 'mads_conference_name[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_conference_name[externalAuthority]' %> 
  <%= label_tag 'mads_conference_name[dateNameValue]', "DateNameElement" %>
  <%= text_field_tag 'mads_conference_name[dateNameValue]' %>
  <br>
  <%= select_tag 'mads_conference_name[scheme]', options_for_select(@mads_schemes.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select MadsScheme" %>    
  <br>


  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
