<h1>Create a new MADS conference Name</h1>
<%= form_for @mads_conference_name do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_conference_name[name]', "Name" %>
  <%= text_field_tag 'mads_conference_name[name]' %>
  <%= label_tag 'mads_conference_name[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_conference_name[externalAuthority]' %> 
  <%= label_tag 'mads_conference_name[fullNameValue]', "FullNameElement" %>
  <%= text_field_tag 'mads_conference_name[fullNameValue]' %> 
  <%= label_tag 'mads_conference_name[familyNameValue]', "FamilyNameElement" %>
  <%= text_field_tag 'mads_conference_name[familyNameValue]' %>   
  <%= label_tag 'mads_conference_name[givenNameValue]', "GivenNameElement" %>
  <%= text_field_tag 'mads_conference_name[givenNameValue]' %>
  <%= label_tag 'mads_conference_name[dateNameValue]', "DateNameElement" %>
  <%= text_field_tag 'mads_conference_name[dateNameValue]' %>
  <%= label_tag 'mads_conference_name[termOfAddressValue]', "TermOfAddressElement" %>
  <%= text_field_tag 'mads_conference_name[termOfAddressValue]' %>         
  <br>
  <%= select_tag 'mads_conference_name[scheme]', options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>    
  <br>


  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
