<% @page_title =  "Edit Name" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Name</h2>
		
		<%= form_for @mads_name do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_name[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_name[name][]', @mads_name.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_name[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_name[externalAuthority][]', @mads_name.externalAuthority, class: "input-block-level" %>

			<%= label_tag 'mads_name[scheme][]', "scheme" %>
			<%= select_tag 'mads_name[scheme][]', options_for_select(MadsScheme.all.collect{ |s| [s.name.first, s.pid] }, :selected => @scheme_id ) %>
			<%= label_tag 'mads_name[fullNameValue][]', "FullNameElement" %>
			<%= text_field_tag 'mads_name[fullNameValue][]', @mads_name.fullNameValue, class: "input-block-level" %>
			<%= label_tag 'mads_name[familyNameValue][]', "FamilyNameElement" %>
			<%= text_field_tag 'mads_name[familyNameValue][]', @mads_name.familyNameValue, class: "input-block-level" %>
			<%= label_tag 'mads_name[givenNameValue][]', "GivenNameElement" %>
			<%= text_field_tag 'mads_name[givenNameValue][]', @mads_name.givenNameValue, class: "input-block-level" %>
			<%= label_tag 'mads_name[dateNameValue][]', "DateNameElement" %>
			<%= text_field_tag 'mads_name[dateNameValue][]', @mads_name.dateNameValue, class: "input-block-level" %>
			<%= label_tag 'mads_name[termOfAddressValue][]', "TermOfAddressElement" %>
			<%= text_field_tag 'mads_name[termOfAddressValue][]', @mads_name.termOfAddressValue, class: "input-block-level" %>
			
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_name_path(@mads_name), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
