<h1>Create a new MADS Name</h1>
<%= form_for @mads_name do |f| %>

	<%= render 'error_messages' %>
  <%= label_tag 'mads_name[name]', "Name" %>
  <%= text_field_tag 'mads_name[name]' %>
  <%= label_tag 'mads_name[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_name[externalAuthority]' %>
    <%= f.fields_for :fullNameElement do |full| %>
      <%= full.label :elementValue, "Full Name" %>
      <%= full.text_field :elementValue %>
    <% end %>
    <%= f.fields_for :familyNameElement do |family| %>
      <%= family.label :elementValue, "Family Name" %>
      <%= family.text_field :elementValue %>
    <% end %>
    <%= f.fields_for :givenNameElement do |given| %>
      <%= given.label :elementValue, "Given Name" %>
      <%= given.text_field :elementValue %>
    <% end %>
    <%= f.fields_for :termsOfAddressNameElement do |termsOfAddress| %>
      <%= termsOfAddress.label :elementValue, "Terms of Address" %>
      <%= termsOfAddress.text_field :elementValue %>
    <% end %>
    <%= f.fields_for :dateNameElement do |date| %>
      <%= date.label :elementValue, "Dates" %>
      <%= date.text_field :elementValue %>
    <% end %>
    <%= f.fields_for :nameElement do |na| %>
      <%= na.label :elementValue, "Other Name" %>
      <%= na.text_field :elementValue %>
    <% end %>    
  <br>
  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } ) , :prompt=>"Select MadsScheme" %>
  <% end %>
  <br>

  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", mads_names_path, class: "btn btn-link pull-right" %>
<%end%>
