<h1>Create a new MADS Name</h1>
<%= form_for @mads_name do |f| %>

	<%= render 'error_messages' %>
  <%= label_tag 'mads_name[name]', "Name" %>
  <%= text_field_tag 'mads_name[name]' %>
  <%= label_tag 'mads_name[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_name[externalAuthority]' %> 
  <%= label_tag 'mads_name[fullNameValue]', "FullNameElement" %>
  <%= text_field_tag 'mads_name[fullNameValue]' %> 
  <%= label_tag 'mads_name[familyNameValue]', "FamilyNameElement" %>
  <%= text_field_tag 'mads_name[familyNameValue]' %>   
  <%= label_tag 'mads_name[givenNameValue]', "GivenNameElement" %>
  <%= text_field_tag 'mads_name[givenNameValue]' %>
  <%= label_tag 'mads_name[dateNameValue]', "DateNameElement" %>
  <%= text_field_tag 'mads_name[dateNameValue]' %>
  <%= label_tag 'mads_name[termOfAddressValue]', "TermOfAddressElement" %>
  <%= text_field_tag 'mads_name[termOfAddressValue]' %>         
  <br>
  <%= select_tag 'mads_name[scheme]', options_for_select(@mads_schemes.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
