<%= form_tag catalog_index_path, :class => 'advanced', :method => :get do  %>

  <h2>Advanced Search</h2>

	<fieldset>
		<%= search_as_hidden_fields(:params => advanced_search_context ) %>
		<label for="op">Matching</label>
		<%= select_tag(:op, options_for_select({'Match all'=>'AND','Match any'=>'OR'}.sort,'all'), :class => '') %>
		<%= render 'advanced/advanced_search_fields' %>
	</fieldset>

	<h3>Attributes</h3>

  <fieldset>
	  <%= render 'advanced_search_facets' %>
	  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
	    <h4>Within search:</h4>
	    <%= search_context_str %>
	  <% end %>
  </fieldset>

  <h3>Sorting</h3>

  <fieldset>
	  <%= label_tag(:sort, 'Sort by') %>
	  <%= select_tag(:sort, options_for_select(sort_fields, h(params[:sort]))) %>
	  <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
  </fieldset>

  <div class="form-actions dams-download-button">

    <button type="submit" class="btn btn-inverse pull-right">
      <i class="icon-search icon-white"></i>
      <span>Advanced Search</span>
    </button>

    <%#= submit_tag 'Search', :class=>'btn btn-inverse pull-right', :id=>'advanced_search' %>
    <%#= link_to "Start over", {:controller => "advanced", :action => "index"}, :class =>"btn btn-link pull-right" %>
  </div>


<% end %>
