<%
	 if defined?(componentIndex) # Then we're working with a component
		 prefix = "component_#{componentIndex}_"
		 htmlOpen = "<tr><td>%s</td><td>"
		 htmlClose = "</td></tr>"
	 else # We're working with an object or collection
		 prefix = ''
		 htmlOpen = "<dt>%s</dt><dd>"
		 htmlClose = "</dd>"
	 end

	 fieldData = @document["#{prefix}copyright_tesim"]
	 rights_holder = @document["#{prefix}rightsHolder_tesim"]
	 unit_code = @document["#{prefix}unit_code_tesim"]
	  


	 if fieldData != nil

		 htmlOpen %= 'Copyright'
		 concat htmlOpen.html_safe

		 copyright = JSON.parse(fieldData.first)
%>
		<% if copyright['jurisdiction'].length > 0%>
			<p><strong><%= copyright['status'].gsub(/--/, ' – ') %> (<%= copyright['jurisdiction'].upcase %>)</strong></p>
		<% else %>
			<p><strong><%= copyright['status'].gsub(/--/, ' – ') %></strong></p>
		<% end %>
		<p><%= copyright['purposeNote'] %></p>
    
    <% if unit_code == "rdcp" %>
      copyright_txt = ''
			<% if rights_holder && rights_holder == "UC Regents"%>
			  copyright_txt = "UC San Diego"
			<% else %>
			  copyright_txt = "the copyright holder(s)"
			 <% end %>
			 <p>This work is protected by U.S. Copyright Law (Title 17, U.S.C.), and made available under a Creative Commons (CC) license. Use of this work beyond that allowed by "fair use" or the CC license requires written permission of <%= copyright_txt %>. Responsibility for obtaining permissions and any use and distribution of this work rests exclusively with the user and not the UC San Diego Library. Inquiries can be made to the UC San Diego Library program having custody of the work.</p>
		<% else %>
		  <p><%= copyright['note'] %></p>
		<% end %>
	<%

		 concat htmlClose.html_safe

		 end
	%>
