<%
		htmlOpen = "<dt>%s</dt><dd>"
		htmlClose = "</dd>"

		if @document["topic_element_tesim"] != nil 
		    htmlOpen %= 'TopicElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"topic_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["geographic_element_tesim"] != nil 
		    htmlOpen %= 'GeographicElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"geographic_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["occupation_element_tesim"] != nil 
		    htmlOpen %= 'OccupationElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"occupation_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["genre_form_element_tesim"] != nil 
		    htmlOpen %= 'GenreFormElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"genre_form_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	
		
		htmlOpen = "<dt>%s</dt><dd>"

		if @document["temporal_element_tesim"] != nil 
		    htmlOpen %= 'TemporalElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"temporal_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end		

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["technique_element_tesim"] != nil 
		    htmlOpen %= 'TechniqueElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"technique_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["function_element_tesim"] != nil 
		    htmlOpen %= 'FunctionElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"function_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end		

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["culturalContext_element_tesim"] != nil 
		    htmlOpen %= 'CulturalContextElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"culturalContext_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end		

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["builtWorkPlace_element_tesim"] != nil 
		    htmlOpen %= 'BuiltWorkPlaceElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"builtWorkPlace_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"

		if @document["full_name_element_tesim"] != nil 
		    htmlOpen %= 'FullNameElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"full_name_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

		htmlOpen = "<dt>%s</dt><dd>"
		if @document["family_name_element_tesim"] != nil 
		    htmlOpen %= 'FamilyNameElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"family_name_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

	    htmlOpen = "<dt>%s</dt><dd>"
		if @document["given_name_element_tesim"] != nil 
		    htmlOpen %= 'GivenNameElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"given_name_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

	    htmlOpen = "<dt>%s</dt><dd>"
		if @document["date_name_element_tesim"] != nil 
		    htmlOpen %= 'DateNameElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"date_name_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	

 		htmlOpen = "<dt>%s</dt><dd>"
		if @document["terms_of_address_name_element_tesim"] != nil 
		    htmlOpen %= 'TermsOfAddressNameElement'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"terms_of_address_name_element_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end	
																	
		htmlOpen = "<dt>%s</dt><dd>"
		if @document["scheme_name_tesim"] != nil 
		    htmlOpen %= 'Scheme Name'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= render_document_show_field_value(:document=>@document, :field=>"scheme_name_tesim").html_safe %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end				
		htmlOpen = "<dt>%s</dt><dd>"
		if @document["scheme_tesim"] != nil 
		    htmlOpen %= 'Scheme'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= link_to "<i class='icon-globe'></i> #{@document['scheme_tesim'].first}".html_safe, @document['scheme_tesim'].first, :class => "btn btn-block  btn-link" %></li>
				
			</ul>
<%
			concat htmlClose.html_safe			
		end			
		htmlOpen = "<dt>%s</dt><dd>"
		if @document["externalAuthority_tesim"] != nil 
		    htmlOpen %= 'externalAuthority'
		    concat htmlOpen.html_safe
%>		    
			<ul class="unstyled sidebar-button-list">
				<li><%= link_to "<i class='icon-globe'></i> #{@document['externalAuthority_tesim'].first}".html_safe, @document['externalAuthority_tesim'].first, :class => "btn btn-block  btn-link" %></li>
			</ul>
<%
			concat htmlClose.html_safe			
		end						 	
%>