<% @page_title =  "Edit GenreForm" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit GenreForm</h2>
		
		<%= form_for @mads_genre_form do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_genre_form[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_genre_form[name][]', @mads_genre_form.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_genre_form[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_genre_form[externalAuthority][]', @mads_genre_form.externalAuthority, class: "input-block-level" %>

			<%= label_tag 'mads_genre_form[scheme][]', "scheme" %>
			<%= select_tag 'mads_genre_form[scheme][]', options_for_select(MadsScheme.all.collect{ |s| [s.name.first, s.pid] }, :selected => @scheme_id ) %>
			<%= label_tag 'mads_genre_form[elementValue][]', "GenreFormElement" %>
			<%= text_field_tag 'mads_genre_form[elementValue][]', @mads_genre_form.elementValue, class: "input-block-level" %>
				
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_genre_form_path(@mads_genre_form), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
