<h1>Create a new MADS GenreForm</h1>
<%= form_for @mads_genre_form do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_genre_form[name]', "Name" %>
  <%= text_field_tag 'mads_genre_form[name]' %>
  <%= label_tag 'mads_genre_form[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_genre_form[externalAuthority]' %> 
  <%= label_tag 'mads_genre_form[elementValue]', "GenreFormElement" %>
  <%= text_field_tag 'mads_genre_form[elementValue]' %> 
  <br>
  <%= select_tag 'mads_genre_form[scheme]', options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
