<h1><%= @mads_genre_form.name.first %></h1>

<div>
  <dl>
    <dt>GenreFormElement:</dt>
    <dd><%= @mads_genre_form.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_genre_form.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_genre_form.externalAuthority.first %></dd>
  </dl>
  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @mads_genre_form, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>
</div>
