<%
	ark = render_document_show_field_value(:document=>@document, :field=>'id')
	componentCount = @document['component_count_isi']
	firstComponent = 'first-component'
%>

<%# CHECK FOR RESTRICTED NOTICE %>
<% restrictedNotice = grabRestrictedText(@document['otherNote_json_tesim']) %>
<% unless restrictedNotice.nil? %>
  <div class="restricted-notice">
    <div>
      <%= restrictedNotice %>
    </div>
  </div>
<% end %>

<%# DRAW COMPONENTS %>
<% for i in 1..componentCount %>

	<%
		fileUse = grabFileUse(:componentIndex=>i)
		display_file = grabDisplayFile(:componentIndex=>i)
		service_file = grabServiceFile(:componentIndex=>i)
		display_file_path = (display_file != 'no_display') ? file_path(ark,"_#{i}_#{display_file}") : ''
		service_file_path = (service_file != nil) ? download_path(ark, "_#{i}_#{service_file}") : ''
		fileType = grabFileType(fileUse)
		loadFirstComponent = (firstComponent != nil) ? "data=#{i}" : ''

        source_file = grabSourceFile
        if source_file != nil
          download_file_path = download_path(ark,"_#{source_file}")
        elsif service_file != nil
          download_file_path = download_path(ark,"_#{service_file}")
        elsif display_file != nil
          download_file_path = download_path(ark,"_#{display_file}")
        else
          download_file_path = ''
        end     
	%>

	<div id="component-<%= i %>" class="component <%= firstComponent %>" <%= loadFirstComponent %>>

		<%= render :partial => 'shared/fields/title', :locals => {:componentIndex => i} %>

		<% if fileType == 'image' %>

			<% zoom_file_path = zoom_path(ark, "#{i}") %>
			<% dataForDynamicLoad = "{\"file_type\":\"image\",\"display_file_path\":\"#{display_file_path}\",\"service_file_path\":\"#{zoom_file_path}\",\"download_file_path\":\"#{download_file_path}\"}" %>

			<div data='<%=dataForDynamicLoad%>'></div>
        <%= render :partial => 'admin_download', :locals => {:downloadFilePath => download_file_path, :downloadDerivativePath => service_file_path  } %>
	    <%= render :partial => 'metadata_component', :locals => {:componentIndex => i} %>

	  <% elsif fileType == 'audio' %>

	    <%= render :partial => 'audio_viewer_complex', :locals => {:componentIndex => i, :downloadFilePath => download_file_path, :downloadDerivativePath => service_file_path  } %>
	    <%= render :partial => 'metadata_component', :locals => {:componentIndex => i} %>

	  <% elsif fileType == 'video' %>

	    <%= render :partial => 'video_viewer_complex', :locals => {:componentIndex => i, :downloadFilePath => download_file_path, :downloadDerivativePath => service_file_path  } %>
	    <%= render :partial => 'metadata_component', :locals => {:componentIndex => i} %>

	  <% elsif fileType == 'document' %>

	    <%= render :partial => 'document_viewer', :locals => {:filePath => service_file_path, :displayFilePath => display_file_path, :downloadDerivativePath => service_file_path  } %>
	    <%= render :partial => 'metadata_component', :locals => {:componentIndex => i, :fileMetadata => true, :fileName => service_file} %>
	    <%= render :partial => 'data_viewer', :locals => {:objectType => 'complex', :filePath => service_file_path, :downloadDerivativePath => service_file_path  } %>

		<% elsif fileType == 'data' %>

	    <%= render :partial => 'metadata_component', :locals => {:componentIndex => i, :fileMetadata => true, :fileName => service_file} %>
			<%= render :partial => 'data_viewer', :locals => {:objectType => 'complex', :filePath => service_file_path, :downloadDerivativePath => service_file_path  } %>

		<% else %>

			<%= render :partial => 'metadata_component', :locals => {:componentIndex => i} %>
			<%= render :partial => 'default_viewer', :locals => {:objectType => 'complex'} %>

		<% end %>

	</div>

	<% firstComponent = nil %>

<% end %>
