<% if defined?(filePath) %>

	<%
	  btnColor = ''
		if defined?(objectType)
			btnColor = case objectType
				when 'simple' then 'btn-primary'
				when 'complex' then 'btn-inverse'
			end
		end

		 viewFilePath = filePath.gsub('/download', '')
	%>

	<div class="form-actions dams-download-button">
	  <a id="data-view-file" class="btn <%=btnColor%> pull-right" href="<%= viewFilePath %>"><i class="glyphicon glyphicon-eye-open icon-white"></i> View file</a>
	  <a id="data-download-file" class="btn btn-link pull-left btn-mini hidden-phone" href="<%= filePath %>"><i class="glyphicon glyphicon-download-alt"></i> Download file</a>
	  <a id="data-download-file-phone" class="btn pull-left btn-mini visible-phone" href="<%= filePath %>"><i class="glyphicon glyphicon-download-alt"></i> Download file</a>
	  <% if can? :update, @document%>
	    <% if (defined?(sourcefilePath) && !sourcefilePath.nil? && sourcefilePath != filePath)%>
	      <a class="btn btn-link pull-left btn-mini hidden-phone" href="<%= sourcefilePath %>"><i class="glyphicon glyphicon-download-alt"></i> Download <%= File.extname(sourcefilePath.gsub('/download','')).upcase.gsub('.','')%> source</a>
	      <a class="btn pull-left btn-mini visible-phone" href="<%= sourcefilePath %>"><i class="glyphicon glyphicon-download-alt"></i> Download <%= File.extname(sourcefilePath.gsub('/download','')).upcase.gsub('.','')%> source</a>
	    <% end %>
	  <% end %>
	</div>

<% end %>