<% title=render_document_show_field_value(:document=>@document, :field=>'title_tesim') %>
<% if displayFilePath.length > 0 && getFilesType != "PDF"%>
   <%= link_to image_tag(displayFilePath, :alt => ''), zoomFilePath %>
<% else %>
	<% if getFilesType == "PDF" %>
		<% if displayFilePath.to_s == ''%> 
			<%= render :partial => 'metadata_data_file', :locals => {:fileName => filePath} %>
		<% else %>
			<div class="file-thumbnail">
				<%= link_to image_tag(displayFilePath, :alt => ''), zoomFilePath %>
			</div>
			<%= render :partial => 'metadata_data_file', :locals => {:fileName => service_file} %>
		<% end %>
		<%= render :partial => 'data_viewer', :locals => {:filePath => pdfFilePath, :objectType => 'simple', :displayFilePath => displayFilePath} %>
	<% else %>
		<%= link_to image_tag(filePath, :alt => ''), zoomFilePath %>
	<% end %>
<% end %>
<%= render :partial => 'admin_download', :locals => {:downloadFilePath => downloadFilePath } %>
