<% if defined?(componentIndex) %>

	<table class="table">
		<tbody>

			<% if defined?(fileName) # Our component has files associated with it. %>

				<%= render :partial => 'shared/fields/date', :locals => {:componentIndex => componentIndex} %>
				<%= render :partial => 'shared/fields/note', :locals => {:componentIndex => componentIndex} %>

				<% if defined?(fileMetadata) %>
					<% if fileMetadata == true %>
						<%= render :partial => 'shared/fields/file_size', :locals => {:componentIndex => componentIndex, :fileName => fileName} %>
						<%= render :partial => 'shared/fields/file_format', :locals => {:componentIndex => componentIndex, :fileName => fileName} %>
					<% end %>
				<% end %>

			<% else # Our component doesn't have any files associated with it. The poor thing. %>

				<%= render :partial => 'shared/fields/resource_type', :locals => {:componentIndex => componentIndex} %>
				<%= render :partial => 'shared/fields/topic', :locals => {:componentIndex => componentIndex} %>
				<%= render :partial => 'shared/fields/note', :locals => {:componentIndex => componentIndex} %>

			<% end %>

		</tbody>
	</table>

<% end %>