<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Edit a Dams Object</h1>

<%= form_for @dams_object do |f| %> 
  <%= render :partial => 'shared/edit_fields/title_edit_form', :locals => {:f => f}%>
       
  <%= render :partial => 'shared/edit_fields/type_of_resource_form', :locals => {:f => f}%>

  <%= render :partial => 'shared/edit_fields/date_edit_form', :locals => {:f => f}%>      

  <%= render :partial => 'shared/edit_fields/unit_edit_form' , :locals => {:f => f}%>
   
  <%= render :partial => 'shared/edit_fields/collections_edit_form', :locals => {:f => f}%>  
           
  <%= render :partial => 'shared/edit_fields/language_edit_form' , :locals => {:f => f}%>
    
  <%= render :partial => 'shared/edit_fields/notes_edit_form' , :locals => {:f => f}%>
  
  <h3>Relationship</h3>
  <%= select_tag 'dams_object[relationshipRoleURI][]', options_for_select(@mads_authorities, :selected => @role_id), :prompt=>"Select Relationship Role" %>   
  <br>
  <%
  	 nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  
  <%= select_tag 'dams_object[relationshipNameType][]',  options_for_select(nameTypeArray, @name_type) , :prompt=>"Select Relationship Type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#relationshipName','relationshipNameURI','Name');"%>

   <div id="relationshipName"><%= select_tag 'dams_object[relationshipNameURI][]', options_for_select(@dams_names, :selected => @name_id), :prompt=>"Select Relationship Name" %></div>

  <h3>Complex Subject</h3>
  <%= select_tag 'dams_object[subjectURI][]', options_for_select(@mads_complex_subjects, :selected => @complexSubject_id), :prompt=>"Select predefined subject"%>
  <br>  
  OR Enter new subject <%=text_field_tag 'dams_object[subjectValue][]', @dams_object.subjectValue[0] , class: "input-block-level" %>

  <h3>Simple Subject</h3>
  <%
  	 subjectTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"], ["Name", "Name"], ["PersonalName", "PersonalName"],["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["Occupation", "Occupation"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
  %>
  <%= select_tag 'dams_object[subjectType][]',  options_for_select(subjectTypeArray, :selected => @simple_subject_type.gsub("Mads", "").gsub("Dams", "")) , :prompt=>"Select subject type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#simpleSubject','simpleSubjectURI','Subject');"%>
   <% if !@simpleSubjectValue.nil? && @simpleSubjectValue.length > 0%>
	  <br><input id="dams_object_subjectTypeValue_" name="dams_object[subjectTypeValue][]" type="text" value="<%= @simpleSubjectValue %>" data-provide="typeahead" data-items="3" data-source='<%= @autocomplete_items %>'/>  
    <% elsif !@simple_subject_type.nil? && @simple_subject_type.length == 0%>
    	<div id="simpleSubject"></div> OR Enter subject value<%=text_field_tag 'dams_object[subjectTypeValue][]', "", class: "input-block-level"  %>
    <% else %>
		<div id="simpleSubject"><%= select_tag 'dams_object[simpleSubjectURI][]', options_for_select(@dams_simple_subjects, :selected => @simpleSubject_id), :prompt=>"Select Subject" %></div>    
   <% end %>
 
  <%= render :partial => 'shared/edit_fields/creator_edit_form' , :locals => {:f => f}%>
     
  <%= render :partial => 'shared/edit_fields/rights_edit_form' , :locals => {:f => f}%>

  <%= render :partial => 'shared/edit_fields/related_resource_edit_form' , :locals => {:f => f}%>
      
  <%= render :partial => 'shared/edit_fields/cartographics_edit_form' , :locals => {:f => f}%>     
  
	<!-- link to create new subject using autocomplete/new subject, if needed -->
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_object_path(@dams_object),  class: "btn btn-primary" %> 
<%end%>

<h2>Add File</h2>
<%= form_for(@dams_object, :url => upload_path(@dams_object.pid), :html => {:multipart => true, :id => 'fileupload', :method => 'post'}) do |f| %>
    <input type="file" name="file"/>
    <%=f.submit "Add File", class: "btn btn-primary" %>
<% end %>