<h1>Edit a Dams Object</h1>
<%= form_for @dams_object do |f| %>
  <%= f.label :title %>
  <%=f.text_field :title %>
  <%= f.label :date %>
  <%=f.text_field :date %>
  <%= f.label :subject %>
  <%=f.text_field :subject %>
  

  <%=f.submit %>
<%end%>
