<% @page_title =  "#{grabTitle}" %>

<% 
restrictedObjText = getRestrictedObjText(@document["otherRights_tesim"])
if !restrictedObjText.nil?
  restrictedObjText= "We are sorry, but the image you have selected is not currently available for download or viewing. " +restrictedObjText
end
restricted_icon_path="ucsd/dc_not_available.jpg"
  %>


<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'prev_next' %>
  </div>
</div>

<div class="row-fluid">

  <div id="content" class="show-document span9">

    <div class="row-fluid">
      <section class="dams-viewer span12">
        <%= render :partial => 'shared/fields/title' %>
       
       <!-- Restricted object viewer --> 
        <% if !restrictedObjText.nil? %>
          <div class="simple-object" align="center">
            <div id="restricted-object">
              <%= image_tag(restricted_icon_path, :class => 'restricted-obj-thumbnail', :alt => '', :id =>"restricted-image" ) %>
              <br><%= "#{restrictedObjText} "%>
         
           </div>
         </div>
       <%end%>

      </section>
    </div>

    <div class="row-fluid">
      <section class="dams-metadata span12">
        <%= render :partial => 'shared/fields/show' %>
      </section>
    </div>

  </div>

  <div class="span3">
    <div class="row-fluid">
      <section class="dams-sidebar span12">
        <%if @document['component_count_isi'] != nil   %>
          <%= render :partial => 'component_tree' %>
        <% end %>
        <%= render :partial => 'related_resources' %>
      </section>
    </div>
  </div>

</div>

<div class="row-fluid">
  <section class="dams-comments span9">
    <%= render :partial => 'comments' %>
  </section>
</div>
