<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Create a new Dams Object</h1>
<%= form_for @dams_object do |f| %>
  <h3>Title</h3>
  <%= render :partial => 'shared/edit_fields/title_form' , :locals => {:f => f}%>
       
  <%
  	 resourceTypeArray = [["text","text"], ["cartographic","cartographic"], ["notated music","notated music"], ["sound recording-musical","sound recording-musical"], ["sound recording-nonmusical","sound recording-nonmusical"] ,["sound recording","sound recording"], ["still image","still image"], ["moving image","moving image"], ["three dimensional object","three dimensional object"], ["software", "software"], ["multimedia","multimedia"], ["mixed material","mixed material"]]
  %>  
    
  <h3>Type Of Resource</h3>  
  <%#= text_field_tag 'dams_object[typeOfResource][]' %>
  <%= select_tag 'dams_object[typeOfResource][]',  options_for_select(resourceTypeArray) , :prompt=>"Select Type of resource", required: false %> 

  <%= render :partial => 'shared/edit_fields/date_form' , :locals => {:f => f}%>
          
  <h3>Unit</h3>
  <%= select_tag 'dams_object[unitURI][]', options_for_select(@dams_units) , :prompt=>"Select Unit" , required: false%>
   
  <h3>Collection</h3>
  <%= select_tag 'dams_object[assembledCollectionURI][]', options_for_select(@dams_assembled_collections) , :prompt=>"Select Assembled Collection" %>  
  <br> 
  <%= select_tag 'dams_object[provenanceCollectionURI][]', options_for_select(@dams_provenance_collections) , :prompt=>"Select Provenance Collection" %>
  <br>
  <%= select_tag 'dams_object[provenanceCollectionPartURI][]', options_for_select(@dams_provenance_collection_parts) , :prompt=>"Select Provenance Collection Part", :style => "width:250px" %>  
          
  <h3>Language</h3>
  <%= select_tag 'dams_object[languageURI][]', options_for_select(@mads_languages) , :prompt=>"Select Language", required: false %>
  
  <%#= f.fields_for :language do |lang| %>
  	<%#= lang.label :name, "Name" %>
    <%#= lang.text_field :name , :value => ""%>    
    <%#= lang.label :code, "Code" %>
    <%#= lang.text_field :code, :value => ""%>            
  <%# end %>

  <%= render :partial => 'shared/edit_fields/notes_form' , :locals => {:f => f}%>
      
  <h3>Relationship</h3>
  <%= select_tag 'dams_object[relationshipRoleURI][]', options_for_select(@mads_authorities) , :prompt=>"Select Relationship Role" %>    
  <br>
  <%
  	 nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  
  <%= select_tag 'dams_object[relationshipNameType][]',  options_for_select(nameTypeArray) , :prompt=>"Select Relationship Type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#relationshipName','relationshipNameURI','Name');"%>

  <div id="relationshipName"></div>
   OR Enter new Relationship Name
   <%= text_field_tag 'dams_object[relationshipNameValue][]' %>
       
  <h3>Complex Subject</h3>
  <%= select_tag 'dams_object[subjectURI][]', options_for_select(@mads_complex_subjects) , :prompt=>"Select predefined subject" %><br>  
  OR Enter new subject <%#=text_field_tag 'dams_object[subjectValue][]' %>
  <%#= select_tag 'dams_object[subjectURI][]', options_for_select(@mads_complex_subjects) , :prompt=>"Select predefined subject" %>
  <%#=text_field_tag 'dams_object[subjectValue][]' %>
      
  <%= f.fields_for :complexSubject do |comSubject| %>
    <%= comSubject.text_field :name , :value => ""%>          
  <% end %>       
       
  <h3>Simple Subject</h3>
  <%
  	 subjectTypeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["Occupation", "Occupation"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
  %>

  <%= select_tag 'dams_object[subjectType][]',  options_for_select(subjectTypeArray) , :prompt=>"Select subject type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#simpleSubject','simpleSubjectURI','Subject');"%>
  <div id="simpleSubject"></div>
  
  <!--OR Enter subject value<%#=text_field_tag 'dams_object[subjectTypeValue][]' %>
  <input id="dams_object_subjectTypeValue_" name="dams_object[subjectTypeValue][]" type="text" data-provide="typeahead" data-items="3" data-source='<%= @autocomplete_items %>'/-->  

  <div id="simpleSubjects">
	<%= render :partial => 'shared/edit_fields/simple_subjects_form' , :locals => {:f => f}%>
  </div>
    
  <h3>Name</h3>
  <%= select_tag 'dams_object[nameType][]',  options_for_select(nameTypeArray) , :prompt=>"Select name type" , :onChange=>"javascript: getSubjects('dams_object',this.value,'#name','nameURI','Name');"%>
  <div id="name"></div>
  
  <!-- OR Enter Name<%#=text_field_tag 'dams_object[nameTypeValue][]' %> -->
    
  <h3>Rights</h3>
  <%= select_tag 'dams_object[copyrightURI][]', options_for_select(@dams_copyrights) , :prompt=>"Select Copyright" , required: false %>
  <br>
  <%= select_tag 'dams_object[statuteURI][]', options_for_select(@dams_statutes) , :prompt=>"Select Statute" %>
  <br>
  <%= select_tag 'dams_object[otherRightsURI][]', options_for_select(@dams_other_rights) , :prompt=>"Select Other Rights" %>
  <br>
  <%= select_tag 'dams_object[licenseURI][]', options_for_select(@dams_licenses) , :prompt=>"Select License" %>
  <br>
  <%= select_tag 'dams_object[rightsHolderURI][]', options_for_select(@dams_rightsHolders) , :prompt=>"Select Rights Holder" %>

  <%= render :partial => 'shared/edit_fields/related_resource_form' , :locals => {:f => f}%>
  <%= render :partial => 'shared/edit_fields/cartographics_form' , :locals => {:f => f}%>  
              
	<br>
  <!--input type="text" id="test" data-provide="typeahead" data-items="3" data-source='<%= @autocomplete_items %>'-->

  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_objects_path, class: "btn btn-primary" %>   
<%end%>
  
<%#= render_document_show_field_value(:document=>@document, :field=>"authority_tesim").html_safe %>

<%#= select_tag 'dams_object[subjectType][]',  options_for_select(@jdoc.collect{ |v| [v['suggestall'], v['suggestall']] } ) , :prompt=>"Select doc" %>



