<h1>Create a new Dams Object</h1>
<%= form_for @dams_object do |f| %>
  <%= label_tag 'dams_object[titleValue][]', "First Title" %>
  <%= text_field_tag 'dams_object[titleValue][]' %>
  <%= label_tag 'dams_object[subtitle][]', "First SubTitle" %>
  <%= text_field_tag 'dams_object[subtitle][]' %>  
  <%= label_tag 'dams_object[titleType][]', "First Title Type" %>
  <%= text_field_tag 'dams_object[titleType][]' %>   
  <%= label_tag 'dams_object[dateValue][]', "Date" %>
  <%= text_field_tag 'dams_object[dateValue][]' %>
  <%= label_tag 'dams_object[beginDate][]', "Begin Date" %>
  <%= text_field_tag 'dams_object[beginDate][]' %> 
  <%= label_tag 'dams_object[endDate][]', "End Date" %>
  <%= text_field_tag 'dams_object[endDate][]' %>    
  
  <%#= label_tag 'dams_object[subject]', "Subject" %>
  <%#= select_tag 'dams_object[subject]', options_for_select(@mads_complex_subjects.collect{ |v| [v.name.first, v.pid] } ) %>
 
  <%= label_tag 'dams_object[subjectValue][]', "Subject 1" %>
  <%=text_field_tag 'dams_object[subjectValue][]' %>
   <%= label_tag 'dams_object[subjectValue][]', "Subject 2" %> 
  <%=text_field_tag 'dams_object[subjectValue][]' %>
  <br>
  <%= select_tag 'dams_object[subjectURI][]', options_for_select(@mads_complex_subjects.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select predefined subject 1" %>  
  <br>
  <%= select_tag 'dams_object[subjectURI][]', options_for_select(@mads_complex_subjects.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select predefined subject 2" %>    
  <br>
  <%= select_tag 'dams_object[unitURI][]', options_for_select(@dams_units.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select Unit" %>  
  <br>
  <%= label_tag 'dams_object[typeOfResource][]', "Type Of Resource" %>
  <%= text_field_tag 'dams_object[typeOfResource][]' %>   
  <br>
  
  <%#= label_tag 'dams_object[subject]', "Simple Subject" %>
    <p><select>
      <option>BuiltWorkPlace</option>
      <option>CulturalContext</option>
      <option>Function</option>
      <option>GenreForm</option>
      <option>Geographic</option>
      <option>Iconography</option>
      <option>ScientificName</option>
      <option>StylePeriod</option>
      <option>Technique</option>
      <option>Temporal</option>
      <option selected>Topic</option>
    </select>
    <input size="30" type="text" value="Cosmology"/>
    <p><select>
      <option>BuiltWorkPlace</option>
      <option>CulturalContext</option>
      <option>Function</option>
      <option>GenreForm</option>
      <option>Geographic</option>
      <option>Iconography</option>
      <option>ScientificName</option>
      <option>StylePeriod</option>
      <option>Technique</option>
      <option selected>Temporal</option>
      <option>Topic</option>
    </select>
    <input size="30" type="text" value="16th Century"/>  
  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
