<ul>
  <li><a href="/">home</a></li>        
  <%= breadcrumbs(request.path.split('?')) %> 
</ul>

<h1> <%= @dams_object.title.join(", ") %></h1>
<dl>
  <dt>Date</dt>
  <dd><%= @dams_object.date.join(", ") %></dd>
  <dt>Subject</dt>
  <dd><%= @dams_object.subject.join(", ") %></dd>
</dl>
<% if can? :edit, @dams_object %>
<%= link_to "Edit", edit_dams_object_path(@dams_object) %>
<% end %>

