<%
	@page_title =  "#{grabTitle}"
	@sensitive_msg = "#{t('sensitive_message')}"
%>

<%= javascript_tag "var sensitive_popup = '#{@sensitive_msg}';" %>
<script type="text/javascript">
    function resize(id) {
        let newWidth = 0.94;
        let parent = document.getElementById(id).parentElement;
        let currentWidth = parent.offsetWidth;
        jwplayer(id).resize(currentWidth * newWidth, 40);
    }
</script>
<% @ds = flash[:deriv] %>
<%# if @ds != nil %>
  <%#= button_to( "Generate Derivatives", deriv_path( @document['id'], @ds ), remote: true, data: {disable_with: 'Generating...'}, form: {id: "generate_derivatives"}, class: 'btn' ) %>
<%# end %>

<%= render :partial => 'prev_next' %>

<div class="row-fluid">
  <div id="content" class="show-document span9">
    <div class="row-fluid">
			<section class="dams-viewer span12">
			  <%= render :partial => 'shared/fields/title' %>
				<%= render :partial => 'object_viewer' %>
				<%= render :partial => 'social_links' %>
			</section>
		</div>

		<div class="row-fluid">
			<section class="dams-metadata span12">
				<%= render :partial => 'shared/fields/show' %>
			</section>
		</div>

	 </div>
	 <div class="span3">

		<div class="row-fluid">
			<section class="dams-sidebar span12">
				<%if @document['component_count_isi'] != nil   %>
					<%= render :partial => 'component_tree' %>
				<% end %>
				<%#= render :partial => 'related_resources' %>
			</section>
		</div>

		<% can_edit = can? :edit, @document['id'] %>
		<% if can? :update, @document then %>
		  <div class="row-fluid">
		    <p class="sidebar-header"><strong>Editor Tools</strong></p>
		    <ul class="unstyled sidebar-button-list">
              <% links = { "rdf" => "RDF View", "rdf_nt" => "RDF N-Triples View", "rdf_ttl" => "RDF Turtle View", "data" => "Data View",
                           "dams42" => "DAMS 4.2 Preview" }
                links.each { |key,label| %>
              <li><%= link_to "<i class='icon-plus-sign'></i> #{label}".html_safe,
                  send("#{key}_dams_collection_path".to_sym, @document['id']),
                  class: "btn btn-block btn-small btn-link" %>
              </li>
              <% } %>
              <% if can_edit then %>
                <% links = { "ezid" => "Mint DOI", "osf_push" => "Push to OSF", "osf_delete" => "Delete from OSF" }
                   links.each { |key,label| %>
                     <li><%= link_to "<i class='icon-plus-sign'></i> #{label}".html_safe,
                       send("#{key}_dams_collection_path".to_sym, @document['id']),
                       class: "btn btn-block btn-small btn-link" %>
                     </li>
                <% } %>
              <% end %>
		    </ul>
	        <% if can_edit then %>
	          <%= render :partial => 'edit_button' %>
	        <% end %>
		  </div>
		<% end %>

		<%= render :partial => 'show_damstools' %>

	</div>
</div>

<div class="row-fluid">
	<section class="dams-comments span9">
		<%= render :partial => 'comments' %>
	</section>
</div>


