<%
	@page_title =  "#{grabTitle}"
%>

<% @ds = flash[:deriv] %>
<%# if @ds != nil %>
  <%#= button_to( "Generate Derivatives", deriv_path( @document['id'], @ds ), remote: true, data: {disable_with: 'Generating...'}, form: {id: "generate_derivatives"}, class: 'btn' ) %>
<%# end %>

<%= render :partial => 'prev_next' %>

<div class="row-fluid">
  <div id="content" class="show-document span9">
  	<div class="col-3 text-left">
	  	<p>
	  	<%= link_to "<< Back to Results", :back, class: "btn btn-default btn-sm" %>
	  	</p>
  	</div>

    <div class="row-fluid">
			<section class="dams-viewer span12">
			  <%= render :partial => 'shared/fields/title' %>
				<%= render :partial => 'object_viewer' %>
			</section>
		</div>

		<div class="row-fluid">
			<section class="dams-metadata span12">
				<%= render :partial => 'shared/fields/show' %>
			</section>
		</div>

	 </div>
	 <div class="span3">

		<div class="row-fluid">
			<section class="dams-sidebar span12">
				<%if @document['component_count_isi'] != nil   %>
					<%= render :partial => 'component_tree' %>
				<% end %>
				<%#= render :partial => 'related_resources' %>
			</section>
		</div>

		<% if can? :update, @document then %>
		  <div class="row-fluid">
		    <p class="sidebar-header"><strong>Editor Tools</strong></p>
		    <ul class="unstyled sidebar-button-list">
		      <li><%= link_to "<i class='icon-plus-sign'></i> RDF View".html_safe, normalized_rdf_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
		      <li><%= link_to "<i class='icon-plus-sign'></i> Data View".html_safe, data_view_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
		      <li><%= link_to "<i class='icon-plus-sign'></i> Edit".html_safe, edit_dams_object_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
		    </ul>
            <p><strong>Add File</strong></p>
            <%= form_for(DamsObject.new, :url => upload_path(@document['id']), :html => {:multipart => true, :id => 'fileupload', :method => 'post'}) do |f| %>
              <input type="file" name="file"/>
              <%=f.submit "Add File", class: "btn btn-primary" %>
            <% end %>
		  </div>
		<% end %>

		<%= render :partial => 'show_damstools' %>

	</div>
</div>

<div class="row-fluid">
	<section class="dams-comments span9">
		<%= render :partial => 'comments' %>
	</section>
</div>


