<div class="row-fluid">
	<!-- main metadata -->
	<div class="span12">
		<div class="row-fluid">
			<div class="span9">
				Main Section
				<div class="row-fluid well">
					File goes here
				</div>
				<div class="row-fluid well">
					Metadata:
					<dl>
						<% if (!@dams_object.title.empty?) %>
					  <dt>Title</dt>
					  <dd><%= @dams_object.title.join(", ") %></dd>
						<% end %>
						<% if (!@dams_object.subtitle.empty?) %>
					  <dt>Subtitle</dt>
					  <dd><%= @dams_object.subtitle.join(", ") %></dd>
						<% end %>
						<% if (!@dams_object.date.empty?) %>
					  <dt>Date</dt>
					  <dd><%= @dams_object.date.join(", ") %></dd>
						<% end %>
						<% if (!@dams_object.beginDate.empty?) %>
					  <dt>Begin Date</dt>
					  <dd><%= @dams_object.beginDate.join(", ") %></dd>
						<% end %>
						<% if (!@dams_object.endDate.empty?) %>
					  <dt>End Date</dt>
					  <dd><%= @dams_object.endDate.join(", ") %></dd>
						<% end %>
						<% if (!@dams_object.subject.empty?) %>
					  <dt>Subject</dt>
					  <dd><%= @dams_object.subject.join(", ") %></dd>
						<% end %>
					</dl>
				</div>
			</div>
			<div class="span3">
				Sidebar widgets here
			</div>
		</div>
	</div>	
</div>
		

<% if can? :edit, @dams_object %>
<%= link_to "Edit", edit_dams_object_path(@dams_object) %>
<% end %>

