<h1>Create a new DAMS Source Capture</h1>
<%= form_for @dams_source_capture do |f| %>
  <%= label_tag 'dams_source_capture[scannerManufacturer]', "scannerManufacturer" %><%= text_field_tag 'dams_source_capture[scannerManufacturer]', '', class: "input-block-level" %>
  <%= label_tag 'dams_source_capture[sourceType]', "sourceType" %><%= text_field_tag 'dams_source_capture[sourceType]', '', class: "input-block-level"  %>
  <%= label_tag 'dams_source_capture[scannerModelName]', "scannerModelName" %><%= text_field_tag 'dams_source_capture[scannerModelName]', '', class: "input-block-level"  %>
  <%= label_tag 'dams_source_capture[imageProducer]', "imageProducer" %><%= text_field_tag 'dams_source_capture[imageProducer]', '', class: "input-block-level"  %>
  <%= label_tag 'dams_source_capture[scanningSoftwareVersion]', "scanningSoftwareVersion" %><%= text_field_tag 'dams_source_capture[scanningSoftwareVersion]', '', class: "input-block-level"  %>
  <%= label_tag 'dams_source_capture[scanningSoftware]', "scanningSoftware" %><%= text_field_tag 'dams_source_capture[scanningSoftware]', '', class: "input-block-level"  %>
  <%= label_tag 'dams_source_capture[captureSource]', "captureSource" %><%= text_field_tag 'dams_source_capture[captureSource]', '', class: "input-block-level"  %>
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
