<h1><%= @dams_source_capture.scannerManufacturer.first %></h1>
<div>sourceType: <%= @dams_source_capture.sourceType.first %></div>
<div>scannerModelName: <%= @dams_source_capture.scannerModelName.first %></div>
<div>imageProducer: <%= @dams_source_capture.imageProducer.first %></div>
<div>scanningSoftwareVersion: <%= @dams_source_capture.scanningSoftwareVersion.first %></div>
<div>scanningSoftware: <%= @dams_source_capture.scanningSoftware.first %></div>
<div>captureSource: <%= @dams_source_capture.captureSource.first %></div>
<div>
  <% if can? :edit, DamsSourceCapture then %>
    <%= link_to "Edit", edit_dams_source_capture_path(@dams_source_capture), class: "btn btn-primary"%>
  <% end %>
  <%= link_to "View All", dams_source_captures_path, class: "btn btn-primary" %>
</div>
