<% @page_title =  "Edit Complex Subject" %>
<% parentId =  @mads_complex_subject.pid %>
<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Complex Subject</h2>
		
		<%= form_for @mads_complex_subject do |f| %>
			<%= render 'error_messages', object: f.object %>
			<%= label_tag 'mads_complex_subject[name][]', "Name" %>
			<%= text_field_tag 'mads_complex_subject[name][]', @mads_complex_subject.name[0], class: "input-block-level" %>
			<%= label_tag 'mads_complex_subject[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_complex_subject[externalAuthority][]', @mads_complex_subject.externalAuthority, class: "input-block-level" %>
			<%= f.fields_for :scheme, include_id: false do |se| %>
		      <%= se.label :id, "Scheme" %>
		      <%= se.select :id, options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } , :selected => @scheme_id) , :prompt=>"Select MadsScheme" %>
		    <% end %>      
       
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<%= link_to "Cancel", mads_complex_subject_path(@mads_complex_subject), class: "btn btn-primary" %>
			</div>
				
		
		<%end%>

	</div>
</div>