<% @page_title =  "Edit Complex Subject" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Complex Subject</h2>
		
		<%= form_for @mads_complex_subject do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_complex_subject[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_complex_subject[name][]', @mads_complex_subject.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_complex_subject[authority][]', "Authority" %>
			<%= text_field_tag 'mads_complex_subject[authority][]', @mads_complex_subject.authority[0], class: "input-block-level" %>

			<%= label_tag 'mads_complex_subject[valueURI][]', "URI" %>
			<%= text_field_tag 'mads_complex_subject[valueURI][]', @mads_complex_subject.valueURI[0], class: "input-block-level" %>

<% 	cList = @mads_complex_subject.componentList.first    
	i = 0
	if cList != nil
		while i < cList.size  do
			if(!cList[i].nil?)
%>
				<%= label_tag 'mads_complex_subject[componentList][name][]', "Topic" %>
	 			<%= text_field_tag 'mads_complex_subject[componentList][name][]', cList[i].name[0], class: "input-block-level" %> 			
<%		
			end
			i +=1
		end 
	end
%>   				
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_complex_subject_path(@mads_complex_subject), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
