<% @page_title =  "Edit Complex Subject" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Complex Subject</h2>
		
		<%= form_for @mads_complex_subject do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_complex_subject[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_complex_subject[name][]', @mads_complex_subject.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_complex_subject[authority][]', "Authority" %>
			<%= text_field_tag 'mads_complex_subject[authority][]', @mads_complex_subject.authority[0], class: "input-block-level" %>

			<%= label_tag 'mads_complex_subject[valueURI][]', "URI" %>
			<%= text_field_tag 'mads_complex_subject[valueURI][]', @mads_complex_subject.valueURI, class: "input-block-level" %>
 			
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_complex_subject_path(@mads_complex_subject), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>

			<% cList = @mads_complex_subject.componentList.first    
				i = 0
				if cList != nil
					while i < cList.size  do
						if(!cList[i].nil?)							
			%>
			<%
							if(cList[i].to_s.include? 'ark:/20775/')
								@obj = MadsTemporal.find(cList[i].to_s.gsub(/.*\//,''))	
								hasModel = @obj.relationships(:has_model).to_s
								label = ""
								fieldName = ""
								if (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsTopic'))
								    @obj = MadsTopic.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_topic"
      		  						label = "Topic"
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsTemporal'))
								    @obj = MadsTemporal.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_temporal"
      		  						label = "Temporal"      
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsIconography'))
								    @obj = DamsIconography.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_iconography"
      		  						label = "Iconography"   
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsScientificName'))
								    @obj = DamsScientificName.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_scientific_name"
      		  						label = "ScientificName"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsTechnique'))
								    @obj = DamsTechnique.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_technique"
      		  						label = "Technique"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsBuiltWorkPlace'))
								    @obj = MadsGenreForm.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_built_work_place"
      		  						label = "BuiltWorkPlace"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsPersonalName'))
								    @obj = MadsPersonalName.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_personal_name"
      		  						label = "PersonalName"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsGeographic'))
								    @obj = MadsGeographic.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_geographic"
      		  						label = "Geographic"
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsCulturalContext'))
								    @obj = DamsCulturalContext.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_cultural_context"
      		  						label = "CulturalContext"            		  						
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsStylePeriod'))
								    @obj = DamsStylePeriod.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_style_period"
      		  						label = "StylePeriod"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsConferenceName'))
								    @obj = MadsGeographic.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_conference_name"
      		  						label = "ConferenceName"
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:DamsFunction'))
								    @obj = DamsFunction.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "dams_function"
      		  						label = "Function"  
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsCorporateName'))
								    @obj = MadsCorporateName.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_corporate_name"
      		  						label = "CorporateName"    
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsOccupation'))
								    @obj = MadsOccupation.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_occupation"
      		  						label = "Occupation"
								elsif (!@obj.nil? && !hasModel.nil? && (hasModel.include? 'afmodel:MadsFamilyName'))
								    @obj = MadsFamilyName.find(cList[i].to_s.gsub(/.*\//,''))	
      		  						fieldName = "mads_family_name"
      		  						label = "FamilyName"        		  						      		  						    		  						          		  						      		  						      		  						      		  						      		  						        		  								  					
      		  					end
			%>
								<%= form_for @obj do |t| %>		
									<dt><%= render 'error_messages', object: t.object %></dt>
									<%= label_tag "#{fieldName}[name][]", "#{label}" %>
									<%= text_field_tag "#{fieldName}[name][]", @obj.name[0]%>																	
									<button type="submit" class="btn btn-primary">Save</button>									
			<%			
								end	
							end
						end
						i +=1
					end 
				end
			%> 
				
	</div>
</div>
