<h1>Create a new MADS Complex Subject</h1>
<%= form_for @mads_complex_subject do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_complex_subject[name]', "Name" %>
  <%= text_field_tag 'mads_complex_subject[name]' %>
  <%= label_tag 'mads_complex_subject[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_complex_subject[externalAuthority]' %>
  <br>
  <%= select_tag 'mads_complex_subject[scheme]', options_for_select(@mads_schemes.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select MadsScheme" %>    
  <br>
  
  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
