<h1><%= @mads_complex_subject.name.first %></h1>

<div>
  <dl>
    <dt>authority:</dt>
    <dd><%= @mads_complex_subject.authority.first %></dd>
    <dt>uri:</dt>
    <dd><%= @mads_complex_subject.valueURI.first %></dd>
    
<% cList = @mads_complex_subject.componentList.first    
	i = 0
	if cList != nil
		while i < cList.size  do
			if(!cList[i].nil? && !cList[i].name.nil?)
%>
				<dt>topic:</dt>
	 			<dd><%= cList[i].name.first%></dd>
<%		
			end
			i +=1
		end 
	end
%>    
  </dl>
  <% if can? :update, @mads_complex_subject %>
    <%= link_to "Solr View", mads_complex_subject_path(@mads_complex_subject), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_complex_subject_path(@mads_complex_subject), class: "btn btn-primary"%>
    <%= link_to "View All", mads_complex_subjects_path(), class: "btn btn-primary"%>
  <% end %>
</div>
