<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Edit DAMS OtherRights</h1>
<%= form_for @dams_other_right , :html => { :onsubmit => 'processForm_generic("#dams_other_right_");'} do |f| %>
  <%= label_tag 'dams_other_right[basis]', "Basis" %>
  <%= text_field_tag 'dams_other_right[basis][]', @dams_other_right.basis[0], class: "input-block-level" %>
  <%= label_tag 'dams_other_right[note]', "Note" %>
  <%= text_field_tag 'dams_other_right[note][]', @dams_other_right.note[0], class: "input-block-level" %>
  <%= label_tag 'dams_other_right[uri]', "URI" %>
  <%= text_field_tag 'dams_other_right[uri][]', @dams_other_right.uri[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[permissionType]', "Permission Type" %>
  <%= text_field_tag 'dams_other_right[permissionType][]', @dams_other_right.permissionType[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[permissionBeginDate]', "Permission Begin Date" %>
  <%= text_field_tag 'dams_other_right[permissionBeginDate][]', @dams_other_right.permissionBeginDate[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[permissionEndDate]', "Permission End Date" %>
  <%= text_field_tag 'dams_other_right[permissionEndDate][]', @dams_other_right.permissionEndDate[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[restrictionType]', "Restriction Type" %>
  <%= text_field_tag 'dams_other_right[restrictionType][]', @dams_other_right.restrictionType[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[restrictionBeginDate]', "Restriction Begin Date" %>
  <%= text_field_tag 'dams_other_right[restrictionBeginDate][]', @dams_other_right.restrictionBeginDate[0], class: "input-block-level"  %>
  <%= label_tag 'dams_other_right[restrictionEndDate]', "Restriction End Date" %>
  <%= text_field_tag 'dams_other_right[restrictionEndDate][]', @dams_other_right.restrictionEndDate[0], class: "input-block-level"  %>


  <%= render :partial => 'shared/edit_fields/relationship_edit_form' , :locals => {:object => @dams_other_right, :object_type => "dams_other_right", :f => f}%>
  
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_other_right_path( @dams_other_right ), class: "btn btn-primary" %>
<%end%>
