<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Create a new DAMS OtherRights</h1>
<%= form_for @dams_other_right, :html => { :onsubmit => 'processForm_generic("#dams_other_right_");'}  do |f| %>
  <%= label_tag 'dams_other_right[basis]', "Basis" %><%= text_field_tag 'dams_other_right[basis]', '', class: "input-block-level" %>
  <%= label_tag 'dams_other_right[note]', "Note" %><%= text_field_tag 'dams_other_right[note]', '',  class: "input-block-level" %>
  <%= label_tag 'dams_other_right[uri]', "URI" %><%= url_field_tag 'dams_other_right[uri]', '',  class: "input-block-level" %>
  <%= f.fields_for :permission_node do |pn| %>
    <%= pn.label :type, "Permission Type" %>
    <%= pn.text_field :type , :value => "", class: "input-block-level"%>    
    <%= pn.label :beginDate, "Permission Begin Date" %>
    <%= pn.text_field :beginDate, :value => "", class: "input-block-level"%>
    <%= pn.label :endDate, "Permission End Date" %>
    <%= pn.text_field :endDate, :value => "", class: "input-block-level"%>    
  <% end %>
  <%= f.fields_for :restriction_node do |rn| %>
    <%= rn.label :type, "Restriction Type" %>
    <%= rn.text_field :type , :value => "", class: "input-block-level"%>    
    <%= rn.label :beginDate, "Restriction Begin Date" %>
    <%= rn.text_field :beginDate, :value => "", class: "input-block-level"%>
    <%= rn.label :endDate, "Restriction End Date" %>
    <%= rn.text_field :endDate, :value => "", class: "input-block-level"%>    
  <% end %>   

  <%#= select_tag 'dams_other_right[role][]', options_for_select(@mads_authorities) , :prompt=>"Select Relationship Role", required: true %>
  <%#= select_tag 'dams_other_right[name][]', options_for_select(@mads_names) , :prompt=>"Select Relationship Name", required: true %>    

  <%= render :partial => 'shared/edit_fields/relationship_form' , :locals => {:f => f, :object_type => "dams_other_right"}%>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
