<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>Code</td>
      <td>Language</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>

  <tbody>
    <% @dams_languages.each do |dams_language| %>

      <tr>
        <td class="id"><%= dams_language.id%></td>
        <td class="code"><%= dams_language.code%></td>
        <td class="language"><%= link_to dams_language.language, dams_language_path(dams_language) %></td>
        <td class="edit"><%= link_to "Edit", edit_dams_language_path(dams_language) %></td>
        <td><%= link_to "Delete", dams_language_path(dams_language), :method => "delete" %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to "Create New Dams Language", new_dams_language_path, class: 'btn' %>
