<h1><%= @dams_language.language %></h1>
<dl>
  <dt>id</dt>
  <dd><%= @dams_language.id %></dd>
  <dt>code</dt>
  <dd><%= @dams_language.code %></dd>
  <dt>language</dt>
  <dd><%= @dams_language.language %></dd>
</dl>
<div>
  <%= link_to "Edit", edit_dams_language_path(@dams_language), :class => :btn %>
  <%= link_to "Delete", dams_language_path(@dams_language), :method => "delete", :class => :btn %>
  <%= link_to "View All", dams_languages_path(), :class => :btn %>
</div>
