<h1>Edit DAMS Vocabulary Entry</h1>
<%= form_for @dams_vocabulary_entry do |f| %>
  <%= label_tag 'dams_vocabulary_entry[code]', "Code" %><%= text_field_tag 'dams_vocabulary_entry[code][]', @dams_vocabulary_entry.code[0] %>
  <%= label_tag 'dams_vocabulary_entry[value]', "Value" %><%= text_field_tag 'dams_vocabulary_entry[value][]', @dams_vocabulary_entry.value[0] %>
  <%= label_tag 'dams_vocabulary_entry[valueURI]', "Value URI" %><%= @dams_vocabulary_entry.valueURI[0] %>

  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_vocabulary_entry_path( @dams_vocabulary_entry ), class: "btn btn-primary" %>
<%end%>
