<% name = render_document_show_field_value(:document=>@document, :field=>"name_tesim") %>
<% code = render_document_show_field_value(:document=>@document, :field=>"name_tesim") %>
<% scheme_id = render_document_show_field_value(:document=>@document, :field=>"scheme_id_tesim") %>
<% scheme_name = render_document_show_field_value(:document=>@document, :field=>"scheme_name_tesim") %>
<h1><%= name %></h1>
<div>code: <%= code %></div>
<div>scheme: <%= link_to scheme_name, mads_scheme_path(scheme_id) %></div>
<div>
  <% if can? :update, @document then %>
    <p><strong>Editor Tools</strong></p>
    <ul class="unstyled sidebar-button-list">
      <li><%= link_to "<i class='icon-plus-sign'></i> Hydra View".html_safe, view_mads_authority_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
      <li><%= link_to "<i class='icon-plus-sign'></i> Edit".html_safe, edit_mads_authority_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
    </ul>
  <% end %>
</div>
