<% @page_title =  "Edit Temporal" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Temporal</h2>
		
		<%= form_for @mads_temporal do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_temporal[name]', "Name" %>
			<%= text_field_tag 'mads_temporal[name]', @mads_temporal.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_temporal[externalAuthority]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_temporal[externalAuthority]', @mads_temporal.externalAuthority, class: "input-block-level" %>

		     <%= f.fields_for :scheme, include_id: false do |se| %>
		        <%= se.label :id, "Scheme" %>
		        <%= se.select :id, options_for_select(@mads_schemes, :selected => @scheme_id) , :prompt=>"Select MadsScheme" %>
		      <% end %>
	        <%= f.fields_for :temporalElement do |te| %>
	         	<%= te.label :elementValue, "Element Value" %>
	        	<%= te.text_field :elementValue, class: "input-block-level" %>
	        <% end %>
							
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_temporal_path(@mads_temporal), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
