<h1>Create a new MADS Temporal</h1>
<%= form_for @mads_temporal do |f| %>
  <%= render 'error_messages' %>
  <%= label_tag 'mads_temporal[name]', "Name" %>
  <%= text_field_tag 'mads_temporal[name]' %>
  <%= label_tag 'mads_temporal[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_temporal[externalAuthority]' %> 
  <%= f.fields_for :temporalElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>  
  <br>
  <%= select_tag 'mads_temporal[scheme_attributes][][id]', options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } ) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
