<h1><%= @mads_temporal.name.first %></h1>

<div>
  <dl>
    <dt>TemporalElement:</dt>
    <dd><%= @mads_temporal.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_temporal.scheme.first.pid%></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_temporal.externalAuthority.first %></dd>     
  </dl>

  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @mads_temporal, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>

</div>
