<h1><%= @mads_temporal.name.first %></h1>

<div>
  <dl>
    <dt>authority:</dt>
    <dd><%= @mads_temporal.authority.first %></dd>
    <dt>uri:</dt>
    <dd><%= @mads_temporal.valueURI %></dd>
    
	<% eList = @mads_temporal.elementList.first    
		if eList != nil	
	%>
		<dt></dt>
    	<dd><%#= eList[0].elementValue.first %></dd>
	<%
		end					
	%>    
    
  </dl>
  <% if can? :update, @mads_temporal %>
    <%= link_to "Solr View", mads_temporal_path(@mads_temporal), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_temporal_path(@mads_temporal), class: "btn btn-primary"%>
    <%= link_to "View All", mads_temporals_path(), class: "btn btn-primary"%>
  <% end %>
</div>
