<h1><%= @mads_temporal.name.first %></h1>

<div>
  <dl>
    <dt>TemporalElement:</dt>
    <dd><%= @mads_temporal.elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_temporal.scheme %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_temporal.externalAuthority %></dd> 
    
  </dl>
  <% if can? :update, @mads_temporal %>
    <%= link_to "Solr View", mads_temporal_path(@mads_temporal), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_temporal_path(@mads_temporal), class: "btn btn-primary"%>
    <%= link_to "View All", mads_temporals_path(), class: "btn btn-primary"%>
  <% end %>
</div>
