<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>Description</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>

  <tbody>
    <% @dams_vocabs.each do |dams_vocab| %>

      <tr>
        <td class="zombie_nickname"><%= dams_vocab.id%></td>
        <td class="zombie_name"><%= link_to dams_vocab.vocabDesc, dams_vocab_path(dams_vocab) %></td>
        <td class="zombie_edit"><%= link_to "Edit", edit_dams_vocab_path(dams_vocab) %></td>
        <td>
          <%= link_to "Delete", dams_vocab_path(dams_vocab), :method => "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to "Create New Dams Vocabulary", new_dams_vocab_path, class: 'btn' %>
