<dl>
  <dt>Vocabulary ID</dt>
  <dd><%= @dams_vocab.id %></dd>
  <dt>Vocabulary Description</dt>
  <dd><%= @dams_vocab.vocabDesc %></dd>
</dl>
<div>
  <%= link_to "Edit", edit_dams_vocab_path(@dams_vocab), :class => :btn %>
  <%= link_to "Delete", dams_vocab_path(@dams_vocab), :method => "delete", :class => :btn %>
  <%= link_to "View All", dams_vocabs_path(), :class => :btn %>
</div>
