<% @page_title =  "Edit Geographic" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Geographic</h2>
		
		<%= form_for @mads_geographic do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_geographic[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_geographic[name][]', @mads_geographic.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_geographic[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_geographic[externalAuthority][]', @mads_geographic.externalAuthority, class: "input-block-level" %>

			<%= label_tag 'mads_geographic[scheme][]', "scheme" %>
			<%= select_tag 'mads_geographic[scheme][]', options_for_select(@mads_schemes, :selected => @scheme_id ) %>
			<%= label_tag 'mads_geographic[elementValue][]', "GeographicElement" %>
			<%= text_field_tag 'mads_geographic[elementValue][]', @mads_geographic.elementValue, class: "input-block-level" %>	
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_geographic_path(@mads_geographic), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
