<h1>Create a new MADS Geographic</h1>
<%= form_for @mads_geographic do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_geographic[name]', "Name" %>
  <%= text_field_tag 'mads_geographic[name]' %>
  <%= label_tag 'mads_geographic[externalAuthority]', "ExternalAuthority" %>
  <%= text_field_tag 'mads_geographic[externalAuthority]' %>
  <%= label_tag 'mads_geographic[elementValue]', "GeographicElement" %>
  <%= text_field_tag 'mads_geographic[elementValue]' %> 
  <br>
  <%= select_tag 'mads_geographic[scheme]', options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
