<h1>Create a new MADS Geographic</h1>
<%= form_for @mads_geographic do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_geographic[name]', "Name" %>
  <%= text_field_tag 'mads_geographic[name]' %>
  <%= label_tag 'mads_geographic[externalAuthority]', "ExternalAuthority" %>
  <%= text_field_tag 'mads_geographic[externalAuthority]' %>
  <%= f.fields_for :geographicElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>

  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } ) , :prompt=>"Select MadsScheme" %>
  <% end %>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
