<h1><%= @mads_geographic.name.first %></h1>

<div>
  <dl>
    <dt>GeographicElement:</dt>
    <dd><%= @mads_geographic.elementList[0].first.elementValue.first %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_geographic.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_geographic.externalAuthority.first %></dd>
  </dl>
  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @mads_geographic, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>
</div>
