<h1><%= @mads_geographic.name.first %></h1>

<div>
  <dl>
    <dt>GeographicElement:</dt>
    <dd><%= @mads_geographic.elementList[0].first.elementValue.first %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_geographic.scheme %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_geographic.externalAuthority %></dd>
  </dl>
  <% if can? :update, @mads_geographic %>
    <%= link_to "Solr View", mads_geographic_path(@mads_geographic), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_geographic_path(@mads_geographic), class: "btn btn-primary"%>
    <%= link_to "View All", mads_geographics_path(), class: "btn btn-primary"%>
  <% end %>
</div>
