<h1><%= @dams_repository.name.first %></h1>

<div id="landingCarousel" class="carousel slide span6">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "http://lorempixel.com/460/500" %></div>
    <div class="item"><%= image_tag "http://lorempixel.com/g/460/500" %></div>
    <div class="item"><%= image_tag "http://lorempixel.com/g/460/500?Asdf" %></div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#landingCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#landingCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="span6">
  <div class="well">
    <h2>Search</h2>

    <div>
  	  <%= render_repository_search_bar  %>
    </div>
  </div>

  <div>
	<h2>Browse</h2>
	<ul>
      <%= render_browse_facet_links %>
	</ul>
  </div>

  <div>
    <%= @dams_repository.description.first %>
  </div>
  <div>
    <a href="<%= @dams_repository.uri.first %>">
      <%= @dams_repository.uri.first %>
    </a>
  </div>
</div>
