<h1><%= @dams_cultural_context.name.first %></h1>

<div>
  <dl>
    <dt>CulturalContextElement:</dt>
    <dd><%= @dams_cultural_context.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @dams_cultural_context.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @dams_cultural_context.externalAuthority.first %></dd>
  </dl>
  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @dams_cultural_context, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>

</div>
