<h1>Create a new Dams Scientific Name</h1>
<%= form_for @dams_scientific_name do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'dams_scientific_name[name]', "Name" %>
  <%= text_field_tag 'dams_scientific_name[name]', '', required: true %>
  <%= label_tag 'dams_scientific_name[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'dams_scientific_name[externalAuthority]' %> 
  
  <%= f.fields_for :scientificNameElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>
  <%= render :partial => 'shared/edit_fields/scheme_fields' , :locals => {:f => f}%>
  <br>

  <%= render :partial => 'shared/edit_fields/new_form_hidden_fields' , :locals => {:parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>