<h1><%= @dams_scientific_name.name.first %></h1>

<div>
  <dl>
    <dt>ScientificNameElement:</dt>
    <dd><%= @dams_scientific_name.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @dams_scientific_name.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @dams_scientific_name.externalAuthority.first %></dd>
  </dl>
  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @dams_scientific_name, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>
</div>
