<h1>Role: <%= @dams_role.value %></h1>
<dl>
  <dt>ID</dt>
  <dd><%= @dams_role.id %></dd>
  <dt>Code</dt>
  <dd><%= @dams_role.code %></dd>
  <dt>Description</dt>
  <dd><%= @dams_role.value %></dd>
</dl>
<div>
  <%= link_to "Edit", edit_dams_role_path(@dams_role), :class => :btn %>
  <%= link_to "Delete", dams_role_path(@dams_role), :method => "delete", :class => :btn %>
  <%= link_to "View All", dams_roles_path(), :class => :btn %>
</div>
