<h1>Editing Page</h1>

<%# render 'form', submit_button: 'save' %>
<%= form_for @page do |f| %>
  <p>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, size: '70x30' %>
  </p>
  <script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>
  <script>CKEDITOR.replace('page_body')</script>

  <%= f.submit "Save Page", class: "btn btn-primary" %>
  <%= link_to 'View', view_page_path(@page.code), class: "btn btn-primary" %>
  <%= link_to 'Page List', pages_path, class: "btn btn-primary" %>
<% end %>

