<h1>Edit DAMS Provenance Collection</h1>
<%= form_for @dams_provenance_collection do |f| %>
  <%= label_tag 'dams_provenance_collection[titleValue]', "Title" %><%= text_field_tag 'dams_provenance_collection[titleValue][]', @dams_provenance_collection.titleValue[0] %>
  <%= label_tag 'dams_provenance_collection[titleType]', "Title Type" %><%= text_field_tag 'dams_provenance_collection[titleType][]', @dams_provenance_collection.titleType[0] %>
  <%= label_tag 'dams_provenance_collection[dateValue]', "Date Value" %><%= text_field_tag 'dams_provenance_collection[dateValue][]', @dams_provenance_collection.dateValue[0] %>
  <%= label_tag 'dams_provenance_collection[beginDate]', "Begin Date" %><%= text_field_tag 'dams_provenance_collection[beginDate][]', @dams_provenance_collection.beginDate[0] %>
  <%= label_tag 'dams_provenance_collection[endDate]', "End Date" %><%= text_field_tag 'dams_provenance_collection[endDate][]', @dams_provenance_collection.endDate[0] %>
  <%= label_tag 'dams_provenance_collection[scopeContentNoteValue]', "Scope Note" %><%= text_field_tag 'dams_provenance_collection[scopeContentNoteValue][]', @dams_provenance_collection.scopeContentNoteValue[0] %>
  <%= label_tag 'dams_provenance_collection[scopeContentNoteType]', "Scope Note Type" %><%= text_field_tag 'dams_provenance_collection[scopeContentNoteType][]', @dams_provenance_collection.scopeContentNoteType[0] %>
  <%= label_tag 'dams_provenance_collection[scopeContentNoteDisplayLabel]', "Scope Note DisplayLabel" %><%= text_field_tag 'dams_provenance_collection[scopeContentNoteDisplayLabel][]', @dams_provenance_collection.scopeContentNoteDisplayLabel[0] %>

  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_provenance_collection_path( @dams_provenance_collection ), class: "btn btn-primary" %>
<%end%>
