<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>

<script>
$(document).ready(function() {

 $("#dams_provenance_collection_language_attributes_1_id").change(function() {
  $("#newLanguage").remove();
    $("#dams_provenance_collection_language_attributes_1_id").attr("id","dams_provenance_collection_language_attributes_0_id");
 });

});
</script>

<h1>Create a new Dams provenance collection object</h1>
<%= form_for @dams_provenance_collection , :html => { :onsubmit => 'processForm_generic("#dams_provenance_collection_");'} do |f| %>
  
  <!--<h3>Provenance Collection Part</h3>
  <%#= select_tag 'dams_provenance_collection[provenanceHasCollPartURI][]', options_for_select(@dams_provenance_collection_parts) , :prompt=>"Select Provenance Collection Part" %> 
  <br>--> 

<%
     visibilityArray = [["curator","curator"], ["local","local"], ["public","public"]]
  %>  
  
<h3>Visibility</h3>
  <%= select_tag 'dams_provenance_collection[visibility][]', options_for_select(visibilityArray) , :prompt=>"Select Visibility" %>

<%
     resourceTypeArray = [["text","text"], ["cartographic","cartographic"], ["notated music","notated music"], ["sound recording-musical","sound recording-musical"], ["sound recording-nonmusical","sound recording-nonmusical"] ,["sound recording","sound recording"], ["still image","still image"], ["moving image","moving image"], ["three dimensional object","three dimensional object"], ["software", "software"], ["multimedia","multimedia"], ["mixed material","mixed material"]]
  %>  
    
  <h3>Type Of Resource</h3>  
  
  <%= select_tag 'dams_provenance_collection[resource_type][]',  options_for_select(resourceTypeArray) , :prompt=>"Select Type of resource", required: true %>

  
  <%= render :partial => 'shared/edit_fields/title_form' , :locals => {:f => f}%>

  <%= render :partial => 'shared/edit_fields/date_form' , :locals => {:f => f}%>   

 

 <h3>Language</h3>  
  <div id="newLanguage">
    <%= f.fields_for :language do |lang| %>
      <%= lang.label :name, "Name" %>
      <%= lang.text_field :name , :value => "", required: true, :onClick=>"javascript: setLanguageId_generic('#dams_provenance_collection_');"%>    
      <%= lang.label :code, "Code" %>
      <%= lang.text_field :code, :value => ""%>
      <%= lang.label :externalAuthority, "ExternalAuthority" %>
      <%= lang.text_field :externalAuthority, :value => ""%>
      <%= lang.fields_for :scheme do |se| %>
        <%= se.label :id, "Scheme" %>
        <%= se.select :id, options_for_select(@mads_schemes) , {:include_blank => 'Select MadsScheme'}, :required => "true" %>
      <% end %>     
      <%= lang.hidden_field :id %>                    
    <% end %>
  </div>
  <br>
  <div id="newLanguageLink">
    <%= f.fields_for :language do |lang| %>
      <%= lang.select :id, options_for_select(@mads_languages) , {:include_blank => 'Select Language'}, :required => "true"%>
    <% end %>
  </div>

<%= render :partial => 'shared/edit_fields/notes_form' , :locals => {:f => f}%>

 

  <h3>Relationship</h3>
  <%#= select_tag 'dams_provenance_collection[relationshipRoleURI][]', options_for_select(@mads_authorities) , :prompt=>"Select Role" %>
  <%
     nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"],["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  
  <%= select_tag 'dams_provenance_collection[relationshipNameType][]',  options_for_select(nameTypeArray) , :prompt=>"Select Name Type" , :onChange=>"javascript: displayRelationshipName(this.value);"%>
  <br>
  <%= render :partial => 'shared/edit_fields/relationship_form' , :locals => {:f => f}%>

   <h3>Simple Subject</h3>
  <%
     subjectTypeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["Occupation", "Occupation"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
  %>

  <%= select_tag 'dams_provenance_collection[subjectType][]',  options_for_select(subjectTypeArray) , :prompt=>"Select Subject Type" , :onChange=>"javascript: getSubjects('dams_provenance_collection',this.value,'#simpleSubject','simpleSubjectURI','Subject');"%>
  <div id="simpleSubject"></div>
  
  <!--OR Enter subject value<%#=text_field_tag 'dams_provenance_collection[subjectTypeValue][]' %>
  <input id="dams_provenance_collection_subjectTypeValue_" name="dams_provenance_collection[subjectTypeValue][]" type="text" data-provide="typeahead" data-items="3" data-source='<%= @autocomplete_items %>'/-->  

  <%= render :partial => 'shared/edit_fields/simple_subjects_form' , :locals => {:f => f}%>  
  
   <h3>Complex Subject</h3>
  <%= f.fields_for :complexSubject do |comSubject| %>
    <%= comSubject.select :id, options_for_select(@mads_complex_subjects) , :prompt=>"Select Predefined Subject"%>
  <% end %>  
  
 <h3>Creator</h3>
  <%= select_tag 'dams_provenance_collection[nameType][]',  options_for_select(nameTypeArray) , :prompt=>"Select Creator Type" , :onChange=>"javascript: getSubjects('dams_provenance_collection',this.value,'#name','nameURI','Name');"%>
  <div id="name"></div>
  <%= render :partial => 'shared/edit_fields/names_form' , :locals => {:f => f}%>

  <%= render :partial => 'shared/edit_fields/related_resource_form' , :locals => {:f => f}%>

  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_provenance_collections_path, class: "btn btn-primary" %>

  <h2>Add File</h2>
  <%= form_for(@dams_provenance_collection, :url => upload_path(@dams_provenance_collection.pid), :html => {:multipart => true, :id => 'fileupload', :method => 'post'}) do |f| %>
    <input type="file" name="file"/>
    <%=f.submit "Add File", class: "btn btn-primary" %>
  <% end %>
<%end%>
