<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Create a new Dams provenance collection object</h1>
<%= form_for @dams_provenance_collection do |f| %>
  
  <h3>Provenance Collection Part</h3>
  <%= select_tag 'dams_provenance_collection[provenanceCollectionPartURI][]', options_for_select(@dams_provenance_collection_parts.collect{ |v| [v.title.first.name.first, v.pid] } ) , :prompt=>"Select Provenance Collection Part" %>  
  <br>

  <h3>Object</h3>
  <%= select_tag 'dams_provenance_collection[damsObjectURI][]', options_for_select(@dams_objects.collect{ |v| [v.title.first.name.first, v.pid] } ) , :prompt=>"Select dams objects" %>  
  <br>

  <h3>Title</h3>
  <%= label_tag 'dams_provenance_collection[titleValue][]', "First Title" %>
  <%= text_field_tag 'dams_provenance_collection[titleValue][]' %>
  <%= label_tag 'dams_provenance_collection[subtitle][]', "First SubTitle" %>
  <%= text_field_tag 'dams_provenance_collection[subtitle][]' %> 
  <%= label_tag 'dams_provenance_collection[titlePartName][]', "First PartName" %>
  <%= text_field_tag 'dams_provenance_collection[titlePartName][]' %>  
  <%= label_tag 'dams_provenance_collection[titlePartNumber][]', "First PartNumber" %>
  <%= text_field_tag 'dams_provenance_collection[titlePartNumber][]' %> 
  <%= label_tag 'dams_provenance_collection[titleNonSort][]', "First NonSort" %>
  <%= text_field_tag 'dams_provenance_collection[titleNonSort][]' %> 

  <h3>Date</h3>
  <%= label_tag 'dams_provenance_collection[dateValue][]', "Date" %>
  <%= text_field_tag 'dams_provenance_collection[dateValue][]' %>
  <%= label_tag 'dams_provenance_collection[beginDate][]', "Begin Date" %>
  <%= text_field_tag 'dams_provenance_collection[beginDate][]' %> 
  <%= label_tag 'dams_provenance_collection[endDate][]', "End Date" %>
  <%= text_field_tag 'dams_provenance_collection[endDate][]' %>    

  <h3>Language</h3> 
  <%= select_tag 'dams_provenance_collection[languageURI][]', options_for_select(@mads_languages.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select Language" %>  
   <br>

  <h3>Note</h3>
  <%= label_tag 'dams_provenance_collection[noteValue][]', "Note" %>
  <%= text_field_tag 'dams_provenance_collection[noteValue][]' %> 

  <%= label_tag 'dams_provenance_collection[noteType][]', "Note Type" %>
  <%= text_field_tag 'dams_provenance_collection[noteType][]' %> 

  <%= label_tag 'dams_provenance_collection[noteDisplayLabel][]', "Note Displaylabel" %>
  <%= text_field_tag 'dams_provenance_collection[noteDisplayLabel][]' %> 
  
  <%= label_tag 'dams_provenance_collection[scopeContentNoteValue][]', "Scope Content Note" %>
  <%= text_field_tag 'dams_provenance_collection[scopeContentNoteValue][]' %>  

  <%= label_tag 'dams_provenance_collection[scopeContentNoteType][]', "Scope Content Note Type" %>
  <%= text_field_tag 'dams_provenance_collection[scopeContentNoteType][]' %> 

   <h3>Relationship</h3>
  <%= select_tag 'dams_provenance_collection[relationshipRoleURI][]', options_for_select(@mads_authorities.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select Relationship Role"%>    
  <br>
  <%
     nameTypeArray = [["ConferenceName", "ConferenceName"],["CorporateName", "CorporateName"],["FamilyName", "FamilyName"], ["Name", "Name"], ["PersonalName", "PersonalName"]]
  %>  
  <%= select_tag 'dams_provenance_collection[relationshipNameType][]',  options_for_select(nameTypeArray) , :prompt=>"Select Relationship Type"%>

  <div id="relationshipName"></div>
  <br>

  <h3>Subject</h3>
  <%
  	 subjectTypeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
  %>
  <%= label_tag 'dams_provenance_collection[subjectType][]', "Simple Subject" %>
  <%= select_tag 'dams_provenance_collection[subjectType][]',  options_for_select(subjectTypeArray) , :prompt=>"Select subject type"%>
  <%=text_field_tag 'dams_provenance_collection[subjectTypeValue][]' %> 
  <br>
  
  <%= label_tag 'dams_provenance_collection[subjectValue][]', "Complex Subject" %>
  <%= select_tag 'dams_provenance_collection[subjectURI][]', options_for_select(@mads_complex_subjects.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select predefined complex subject " %> 
  <%=text_field_tag 'dams_provenance_collection[subjectValue][]' %>
  <br>
  
  <h3>Related Resource</h3>
  <%= label_tag 'dams_provenance_collection[relatedResourceType][]', "Related Resource Type" %>
  <%= text_field_tag 'dams_provenance_collection[relatedResourceType][]' %>
   <br>

   <%= label_tag 'dams_provenance_collection[relatedResourceUri][]', "Related Resource URI" %>
  <%= text_field_tag 'dams_provenance_collection[relatedResourceUri][]' %>
   <br>

   <%= label_tag 'dams_provenance_collection[relatedResourceDescription][]', "Related Resource Description" %>
  <%= text_field_tag 'dams_provenance_collection[relatedResourceDescription][]' %>
   <br>

  

    
  

  

  
  

  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_provenance_collections_path, class: "btn btn-primary" %>
<%end%>
