<h1><%= @dams_provenance_collection.titleValue %></h1>
<p>Date: <%= @dams_provenance_collection.dateValue.first %> (<%= @dams_provenance_collection.beginDate.first %>, <%= @dams_provenance_collection.endDate.first %>)</p>
<p><%= @dams_provenance_collection.scopeContentNoteDisplayLabel.first %>: <%= @dams_provenance_collection.scopeContentNoteValue.first %></p>
<p>	
<% if (!@dams_provenance_collection.part.nil?) %>
	Provenance Collection Part:
	<%= link_to @dams_provenance_collection.part.title.first.value.join(", "), dams_provenance_collection_part_path(@dams_provenance_collection.part) %>
<% end %>
</p>


  <% if can? :update, @dams_provenance_collection then %>
    <%= link_to "Edit", edit_dams_provenance_collection_path(@dams_provenance_collection), class: "btn btn-primary"%>
  <% end %>
  <%= link_to "View All", dams_provenance_collections_path, class: "btn btn-primary" %>
</div>
