<h1><%= @dams_provenance_collection.titleValue %></h1>
<h3>Title</h3>
<p>Title: <%= @dams_provenance_collection.titleValue %> <br>
Subtitle: <%= @dams_provenance_collection.subtitle %> <br> 
PartName: <%= @dams_provenance_collection.titlePartName %> <br>
PartNumber: <%= @dams_provenance_collection.titlePartNumber %> <br>
NonSort: <%= @dams_provenance_collection.titleNonSort %><br></p>

<h3>Date</h3>
<p>Date: <%= @dams_provenance_collection.dateValue.first %> <br>
Begin Date: <%= @dams_provenance_collection.beginDate.first %> <br>
End Date: <%= @dams_provenance_collection.endDate.first %><br></p>

<h3>Note</h3>
<p>Note: <%= @dams_provenance_collection.noteValue.first %> <br>
Note Type: <%= @dams_provenance_collection.noteType.first %> <br> 
Note Displaylabel: <%= @dams_provenance_collection.noteDisplayLabel.first %><br></p>

<p>Scope Content Note: <%= @dams_provenance_collection.scopeContentNoteValue.first %> <br> 
Scope Content Note Type: <%= @dams_provenance_collection.scopeContentNoteType.first %></p>


<h3>Related Resource</h3>
<p>Related Resource Type: <%= @dams_provenance_collection.relatedResourceType.first %> <br> 
Related Resource URI: <%= @dams_provenance_collection.relatedResourceUri.first %> <br> 
Related Resource Description: <%= @dams_provenance_collection.relatedResourceDescription.first %><br></p>

<p>	
<% if (!@dams_provenance_collection.part.nil?) %>
 	Provenance Collection Part:
	<%= link_to @dams_provenance_collection.part.title.first.value.join(", "), dams_provenance_collection_part_path(@dams_provenance_collection.part) %>
<% end %>
</p>


<h3>Language</h3>
<% if (!@dams_provenance_collection.languages.empty?) %>
								
								<dd><%= link_to @dams_provenance_collection.languages.first.name.first, @dams_provenance_collection.languages.first.name.first.to_s %></dd>
							<% end %>






<p>
<% if (!@dams_provenance_collection.complexSubjects.empty?) %>
							
							<dd><%#=@dams_provenance_collection.complexSubjects.name.first%>
							 

							<% end %>

</p>






  <% if can? :update, @dams_provenance_collection then %>
    <%= link_to "Edit", edit_dams_provenance_collection_path(@dams_provenance_collection), class: "btn btn-primary"%>
  <% end %>
  <%= link_to "View All", dams_provenance_collections_path, class: "btn btn-primary" %>
</div>
