<h1>Listing audits</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Object</th>
      <th>User</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.description %></td>
        <td><%= audit.object %></td>
        <td><%= audit.user %></td>
        <td><%= audit.created_at %></td>
        <td><%= link_to 'View', audit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
