<div class="fields">
    <%= link_to_remove_fields "Remove Custodial Responsibility Note", f %>   
    <%= f.label :value, "Custodial Responsibility Note" %>
    <%= f.text_field :value , :value => ""%>    
    <%= f.label :type, "Custodial Responsibility Note Type" %>
    <%= f.text_field :type, :value => ""%>
    <%= f.label :displayLabel, "Custodial Responsibility Note Display Label" %>
    <%= f.text_field :displayLabel, :value => ""%>  
    <hr>
</div>