<div class="fields">
    <%= link_to_remove_fields "Remove Date", f %>
    <%= f.label :value, "Date" %>
    <%= f.text_field :value , :value => ""%>    
    <%= f.label :type, "Date Type" %>
    <%= f.text_field :type, :value => ""%>
    <%= f.label :beginDate, "Begin Date" %>
    <%= f.text_field :beginDate, :value => ""%> 
    <%= f.label :endDate , "End Date" %>
    <%= f.text_field :endDate, :value => ""%>
    <%= f.label :encoding, "Date Encoding" %>
    <%= f.text_field :encoding, :value => ""%>
    <hr>
</div>