 <h3>Language</h3>  
  <div id="newLanguage">
	  <%= f.fields_for :language do |lang| %>
	  	<%= lang.label :name, "Name" %>
	    <%= lang.text_field :name , :value => "", required: true, :onClick=>"javascript: setLanguageId();"%>    
	    <%= lang.label :code, "Code" %>
	    <%= lang.text_field :code, :value => ""%>
	    <%= lang.label :externalAuthority, "ExternalAuthority" %>
	    <%= lang.text_field :externalAuthority, :value => ""%>
		  <%= lang.fields_for :scheme do |se| %>
		    <%= se.label :id, "Scheme" %>
		    <%= se.select :id, options_for_select(@mads_schemes) , {:include_blank => 'Select MadsScheme'}, :required => "true" %>
		  <% end %>	    
	    <%= lang.hidden_field :id %>                    
	  <% end %>
  </div>
  <br>
  <div id="newLanguageLink">
	  <%= f.fields_for :language do |lang| %>
	    <%= lang.select :id, options_for_select(@mads_languages) , {:include_blank => 'Select Language'}, :required => "true"%>
	  <% end %>
  </div>
