<%
   noteTypeArray = [["arrangement", "arrangement"],["bibliography", "bibliography"],["biography", "biography"],["classification", "classification"],
   						["credits", "credits"],["custodial history", "custodial history"],["description", "description"],["digital origin", "digital origin"],
   						["extent", "extent"],["identifier", "identifier"],["inscription", "inscription"],["local attribution", "local attribution"],
   						["location of originals", "location of originals"],["material details", "material details"],["note", "note"],["physical description", "physical description"],
   						["performers", "performers"],["preferred citation", "preferred citation"],["publication", "publication"],["scope and content", "scope and content"],
   						["series", "series"],["statement of responsibility", "statement of responsibility"],["table of contents", "table of contents"],
   						["technical requirements", "technical requirements"],["thesis", "thesis"],["venue", "venue"]]
%> 
<div class="fields">
  <%= f.select :type, options_for_select(noteTypeArray) , {:include_blank => 'Select Type'}, :class=>"input-drop-down"%>          
  <%= f.label :type, "Note" %>
  <%= f.text_field :value , :value => "", class: "input-block-level" %>    
  <%= f.label :displayLabel, "Note Display label" %>
  <%= f.text_field :displayLabel, :value => "", class: "input-block-level" %>
  <p class="removeIcon"><%= link_to_remove_fields "X", f %></p><br/>
</div>