<div class="fields">       
	<%= f.label :type, "Note" %>
    <%= f.text_field :value , :value => "", class: "input-block-level" %>    
    <%= f.label :type, "Note Type" %>
    <%= f.text_field :type, :value => "", class: "input-block-level" %>
    <%= f.label :displayLabel, "Note Display label" %>
    <%= f.text_field :displayLabel, :value => "", class: "input-block-level" %>
    <%# if f.object.persisted? %>
      <%#= f.check_box :_destroy %>
      <%#= f.label :_destroy, "Destroy" %>
    <%# end %>
    <% if (f.object.class != DamsNoteInternal) %>
    	<%= link_to_remove_fields "Remove Note", f %>
    <% end %>
</div>