<h3>Scope Content Note</h3>
<div id="scopeNoteSection">
  <%= f.fields_for :scopeContentNote do |scopeNote| %>
    <%= scopeNote.text_field :value , :value => "", class: "input-block-level" %>    
    <%= scopeNote.label :type, "Scope Content Note Type" %>
    <%= scopeNote.text_field :type, :value => "", class: "input-block-level" %>
    <%= scopeNote.label :displayLabel, "Scope Content Note Display Label" %>
    <%= scopeNote.text_field :displayLabel, :value => "", class: "input-block-level" %>                
  <% end %>
</div>
  
<h3>Custodial Responsibility Note</h3>
<div id="custodialNoteSection">  
  <%= f.fields_for :custodialResponsibilityNote do |custNote| %>
    <%= custNote.text_field :value , :value => "", class: "input-block-level" %>    
    <%= custNote.label :type, "Custodial Responsibility Note Type" %>
    <%= custNote.text_field :type, :value => "", class: "input-block-level" %>
    <%= custNote.label :displayLabel, "Custodial Responsibility Note Display Label" %>
    <%= custNote.text_field :displayLabel, :value => "", class: "input-block-level" %>                
  <% end %>
</div>
  
<h3>Preferred Citation Note</h3>
<div id="preferredNoteSection">
  <%= f.fields_for :preferredCitationNote do |preNote| %>
    <%= preNote.text_field :value , :value => "", class: "input-block-level" %>    
    <%= preNote.label :type, "Preferred Citation Note Type" %>
    <%= preNote.text_field :type, :value => "", class: "input-block-level" %>
    <%= preNote.label :displayLabel, "Preferred Citation Note Display Label" %>
    <%= preNote.text_field :displayLabel, :value => "", class: "input-block-level" %>                
  <% end %>
</div>