<h3>Related Resource</h3>
<%
    resourceTypeArray = [["related", "related"],["online exhibit", "online exhibit"],["online finding aid", "online finding aid"],["news release", "news release"],
   						["depiction", "depiction"],["journal entry", "journal entry"],["basket", "basket"],["artifact", "artifact"]]

    resource =object.relatedResource
	i = 0
	first = 0 		#first is used to ensure there is no remove button for the first related resource
	if resource != nil
		while i < resource.size  do
			if(!resource[i].type.nil? && resource[i].type.first.to_s == 'hydra-afmodel')
%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][type]", resource[i].type%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", resource[i].uri%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][description]", resource[i].description %>
<%
			else
%>
				<div class="fields">
					<%= select_tag "#{object_type}[relatedResource_attributes][#{i}][type]", options_for_select(resourceTypeArray, :selected => resource[i].type) , :prompt=>"Select Type"%>					
					<%= label_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", "URI" %>
					<%= url_field_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", resource[i].uri, class: "input-block-level" %>
					<%= label_tag "#{object_type}[relatedResource_attributes][#{i}][description]", "Description" %>
					<%= text_field_tag "#{object_type}[relatedResource_attributes][#{i}][description]", resource[i].description, class: "input-block-level" %>
					<br/>
					<% if (f.object.class != RelatedResource && first != 0) %> 
    					<%= link_to_remove_fields "Remove RelatedResource", f %>
    				<% end %> 			
				</div>					
<%			
				first = 1
			end
			i +=1		
		end

		if resource.size == 1
%>
			<div class="fields">
				<%= select_tag "#{object_type}[relatedResource_attributes][#{i}][type]", options_for_select(resourceTypeArray) , :prompt=>"Select Type"%>				
				<%= label_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", "URI" %>
				<%= url_field_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", "", class: "input-block-level" %>
				<%= label_tag "#{object_type}[relatedResource_attributes][#{i}][description]", "Description" %>
				<%= text_field_tag "#{object_type}[relatedResource_attributes][#{i}][description]", "", class: "input-block-level" %>
			</div>		
<%	
		end
				
    end
%> 
<p><%= link_to_add_fields "Add Related Resource", f, :relatedResource, "DamsNote", "DamsNote" %></p>