<h3>Related Resource</h3>
<% relatedResource =object.relatedResource
	i = 0
	first = 0 		#first is used to ensure there is no remove button for the first related resource
	if relatedResource != nil
		while i < relatedResource.size  do
			if(!relatedResource[i].type.nil? && relatedResource[i].type.first.to_s == 'hydra-afmodel')
%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][type]", relatedResource[i].type%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][uri]", relatedResource[i].uri%>
				<%= hidden_field_tag "#{object_type}[relatedResource_attributes][#{i}][description]", relatedResource[i].description %>			
<%
			else	
%>
				<div class="fields">
					<br/>
					
					<%= select_tag "#{object_type}[relResourceURI][]", options_for_select(@dams_related_resources, :selected => "#{Rails.configuration.id_namespace}#{relatedResource[i].pid}") , :prompt=>"Select Related Resource", required: true, :class=>"relatedResourceClass#{i}", :id=>"relatedResourceId#{i}", :onChange=>"javascript: checkOption(this.className,false,'dams_related_resources');"%>
					<br/>
					<% if i > 0%>
	    			<p class="removeIcon"><%= link_to_remove_fields "X", f %></p>
	    			<% end %>					
				</div>					
<%			
				first = 1
			end
			i +=1	
		end
    end
%> 

<p class="addIcon"><%= link_to_add_edit_fields "+", f, :relatedResource, "#{object_type}"%></p>