<%
   resourceTypeArray = [["related", "related"],["online exhibit", "online exhibit"],["online finding aid", "online finding aid"],["news release", "news release"],
   						["depiction", "depiction"],["journal entry", "journal entry"],["basket", "basket"],["artifact", "artifact"]]
%> 
<div class="fields">
    <%= f.select :type, options_for_select(resourceTypeArray) , :prompt=>"Select Type"%>    
    <%= f.label :uri, "URI" %>
    <%= f.url_field :uri, :value => "", class: "input-block-level" %>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, :value => "", class: "input-block-level" %>    
    <br/>
    <% if (f.object.class != RelatedResource) %>
    	<%= link_to_remove_fields "Remove Related Resource", f %>
    <% end %>    
</div>