 
<div class="fields">
   	<%= f.label :type, "Type" %>
    <%= f.text_field :type , :value => "", class: "input-block-level" %>    
    <%= f.label :uri, "URI" %>
    <%= f.url_field :uri, :value => "", class: "input-block-level" %>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description, :value => "", class: "input-block-level" %>    
    <br/>
    <% if (f.object.class != RelatedResource) %>
    	<%= link_to_remove_fields "Remove Related Resource", f %>
    <% end %>    
</div>