<h3>Related Resource</h3>
<% resource = @dams_object.relatedResource
	i = 0
	if resource != nil
		while i < resource.size  do
%>
	<div class="fields">
		<%= label_tag "dams_object[relatedResource_attributes][#{i}][type]", "Type" %>
		<%= text_field_tag "dams_object[relatedResource_attributes][#{i}][type]", resource[i].type, class: "input-block-level" %>
		<%= label_tag "dams_object[relatedResource_attributes][#{i}][uri]", "URI" %>
		<%= text_field_tag "dams_object[relatedResource_attributes][#{i}][uri]", resource[i].uri, class: "input-block-level" %>
		<%= label_tag "dams_object[relatedResource_attributes][#{i}][description]", "Description" %>
		<%= text_field_tag "dams_object[relatedResource_attributes][#{i}][description]", resource[i].description, class: "input-block-level" %>
	</div>					
<%			
			i +=1		
		end
    end
%> 