  <h3>Rights</h3>
  <%= label_tag "#{object_type}[copyrightURI][]", "Copyrights" %>
  <%= select_tag "#{object_type}[copyrightURI][]", options_for_select(@dams_copyrights, :selected => @copyright_id), :prompt=>"Select Copyright", required: true%>
  <%= label_tag "#{object_type}[statuteURI][]", "Statute" %>
  <%= select_tag "#{object_type}[statuteURI][]", options_for_select(@dams_statutes, :selected => @statute_id) , :prompt=>"Select Statute" %>
  <%= label_tag "#{object_type}[otherRightsURI][]", "Other Rights" %>
  <%= select_tag "#{object_type}[otherRightsURI][]", options_for_select(@dams_other_rights, :selected => @otherRight_id), :prompt=>"Select Other Rights"%>
  <%= label_tag "#{object_type}[licenseURI][]", "License" %>
  <%= select_tag "#{object_type}[licenseURI][]", options_for_select(@dams_licenses, :selected => @license_id), :prompt=>"Select License"%>
  <%= label_tag "#{object_type}[rightsHolderURI][]", "Rights Holder" %>
  <%= select_tag "#{object_type}[rightsHolderURI][]", options_for_select(@dams_rightsHolders, :selected => @rightsHolder_id), :prompt=>"Select Rights Holder"%>