<div class="fields">       
    <%= f.label :value, "Scope Content Note" %>
    <%= f.text_field :value , :value => "", class: "input-block-level"%>    
    <%= f.label :type, "Scope Content Note Type" %>
    <%= f.text_field :type, :value => "", class: "input-block-level"%>
    <%= f.label :displayLabel, "Scope Content Note Display Label" %>
    <%= f.text_field :displayLabel, :value => "", class: "input-block-level"%>
    <br/> 
    <% if (f.object.class != DamsScopeContentNoteInternal) %>          
    	<%= link_to_remove_fields "Remove Scope Content Note", f %>
    <% end %>
</div>