
<h3>Simple Subject</h3>
<%
	typeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["Occupation", "Occupation"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
%>

<% 
  i = 0
  @simpleSubjects.each do |sub|
	tmp = JSON.parse(sub.to_json)
%>

<%= "#{tmp['name']}"%>
<%= "#{tmp['value']}"%>
<%= "#{tmp['label']}"%>

 <%= render :partial => 'shared/edit_fields/simple_subjects_edit_fields' , :locals => {:f => f, :object_type => object_type, :typeArray => typeArray, :selected_type => "#{tmp['name']}", :index => "#{i}",:selected_label => "#{tmp['label']}",  :selected_value => "#{tmp['value']}"}%>       
<% 
	i = i+1
  end 
%>

<p class="addIcon"><%= link_to_add_dynamic_fields "+", f, "#{object_type}", typeArray, "simple_subjects", "#{i}", 1%></p>