  <h3>Title</h3>
  <%= text_field_tag 'dams_object[titleValue][]', @dams_object.titleValue, class: "input-block-level" , required: true%>
  <%= label_tag 'dams_object[subtitle][]', "SubTitle" %>
  <%= text_field_tag 'dams_object[subtitle][]', @dams_object.subtitle, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titlePartName][]', "PartName" %>
  <%= text_field_tag 'dams_object[titlePartName][]', @dams_object.titlePartName, class: "input-block-level" %>  
  <%= label_tag 'dams_object[titlePartNumber][]', "PartNumber" %>
  <%= text_field_tag 'dams_object[titlePartNumber][]', @dams_object.titlePartNumber, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titleNonSort][]', "NonSort" %>
  <%= text_field_tag 'dams_object[titleNonSort][]', @dams_object.titleNonSort, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titleVariant][]', "Variant" %>
  <%= text_field_tag 'dams_object[titleVariant][]', @dams_object.titleVariant, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titleTranslationVariant][]', "Translation Variant" %>
  <%= text_field_tag 'dams_object[titleTranslationVariant][]', @dams_object.titleTranslationVariant, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titleAbbreviationVariant][]', "Abbreviation Variant" %>
  <%= text_field_tag 'dams_object[titleAbbreviationVariant][]', @dams_object.titleAbbreviationVariant, class: "input-block-level" %>    
  <%= label_tag 'dams_object[titleAcronymVariant][]', "Acronym Variant" %>
  <%= text_field_tag 'dams_object[titleAcronymVariant][]', @dams_object.titleAcronymVariant, class: "input-block-level" %>        
  <%= label_tag 'dams_object[titleExpansionVariant][]', "Expansion Variant" %>
  <%= text_field_tag 'dams_object[titleExpansionVariant][]', @dams_object.titleExpansionVariant, class: "input-block-level" %>    