  <h3>Title</h3>
  <%= text_field_tag "#{object_type}[titleValue][]", object.titleValue, class: "input-block-level" , required: true%>
  <%= label_tag "#{object_type}[subtitle][]", "SubTitle" %>
  <%= text_field_tag "#{object_type}[subtitle][]",object.subtitle, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titlePartName][]", "PartName" %>
  <%= text_field_tag "#{object_type}[titlePartName][]",object.titlePartName, class: "input-block-level" %>  
  <%= label_tag "#{object_type}[titlePartNumber][]", "PartNumber" %>
  <%= text_field_tag "#{object_type}[titlePartNumber][]",object.titlePartNumber, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titleNonSort][]", "NonSort" %>
  <%= text_field_tag "#{object_type}[titleNonSort][]",object.titleNonSort, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titleVariant][]", "Variant" %>
  <%= text_field_tag "#{object_type}[titleVariant][]",object.titleVariant, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titleTranslationVariant][]", "Translation Variant" %>
  <%= text_field_tag "#{object_type}[titleTranslationVariant][]",object.titleTranslationVariant, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titleAbbreviationVariant][]", "Abbreviation Variant" %>
  <%= text_field_tag "#{object_type}[titleAbbreviationVariant][]",object.titleAbbreviationVariant, class: "input-block-level" %>    
  <%= label_tag "#{object_type}[titleAcronymVariant][]", "Acronym Variant" %>
  <%= text_field_tag "#{object_type}[titleAcronymVariant][]",object.titleAcronymVariant, class: "input-block-level" %>        
  <%= label_tag "#{object_type}[titleExpansionVariant][]", "Expansion Variant" %>
  <%= text_field_tag "#{object_type}[titleExpansionVariant][]",object.titleExpansionVariant, class: "input-block-level" %>    