<input type="hidden" id="id" value="<%= object.id%>"/>
<% if object.class == DamsAssembledCollection || object.class == DamsProvenanceCollection %>
	<input type="hidden" id="name" value="<%= object.titleValue%>"/> 
<% else %>
	<input type="hidden" id="name" value="<%= object.name.first%>"/> 
<% end %>
<br>

<% if(!parent_id.nil?) %>
  <a href="#" onClick="javascript: setParentId_generic('<%= parent_id%>',true);">close</a>
<% end %>
<% if(!parent_class.nil?) %>
  <a href="#" onClick="javascript: setParentId_generic('<%= parent_class%>',false);">close</a>
<% end %> 