<% @page_title =  "Edit Topic" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Topic</h2>
		
		<%= form_for @mads_topic do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_topic[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_topic[name][]', @mads_topic.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_topic[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_topic[externalAuthority][]', @mads_topic.externalAuthority, class: "input-block-level" %>

			<%= label_tag 'mads_topic[scheme][]', "scheme" %>
			<%= select_tag 'mads_topic[scheme][]', options_for_select(@mads_schemes, :selected => @scheme_id ) %>
			<%= label_tag 'mads_topic[elementValue][]', "TopicElement" %>
			<%= text_field_tag 'mads_topic[elementValue][]', @mads_topic.elementValue, class: "input-block-level" %>
							
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_topic_path(@mads_topic), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
