<h1>Create a new MADS Topic</h1>
<%= form_for @mads_topic do |f| %>
  <%= render 'error_messages' %>
  <%= label_tag 'mads_topic[name]', "Name" %>
  <%= text_field_tag 'mads_topic[name]' %>
  <%= label_tag 'mads_topic[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_topic[externalAuthority]' %> 
  <%= f.fields_for :elementList do |el| %>
    <%= el.fields_for :topicElement do |te| %>
      <%= te.label :elementValue, "Element Value" %>
      <%= te.text_field :elementValue %>
    <% end %>
  <% end %>
  <br>
  <%= select_tag 'mads_topic[scheme_attributes][0][id]', options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } ) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
