<script type="text/javascript">

$(document).ready(function(){

  getSingleAutoCompleteList();

});
</script>
<h1>Create a new MADS Topic</h1>
<%= form_for @mads_topic do |f| %>
  <%= render 'error_messages' %>

  <div id="subjectField">
  <%= label_tag 'mads_topic[name]', "Name" %>
  <%= text_field_tag 'mads_topic[name]', '', required: true, class: "typeahead"  %>
  </div>

  <%= label_tag 'mads_topic[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_topic[externalAuthority]', '', class: "input-block-level"  %> 

  <%= f.fields_for :topicElement do |te| %>
    <%= te.hidden_field :elementValue, class: "eleTypeahead" %>
  <% end %>
  <br>
  <%= render :partial => 'shared/edit_fields/scheme_fields' , :locals => {:f => f}%>
  <br>

  <%= render :partial => 'shared/edit_fields/new_form_hidden_fields' , :locals => {:parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
