<h1>Create a new MADS Topic</h1>
<%= form_for @mads_topic do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_topic[name]', "Name" %>
  <%= text_field_tag 'mads_topic[name]' %>
	<%= label_tag 'mads_topic[authority]', "Code" %>
  <%= text_field_tag 'mads_topic[authority]' %>
  <%= label_tag 'mads_topic[valueURI]', "URI" %>
  <%= url_field_tag 'mads_topic[valueURI]' %>
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
