<h1><%= @mads_topic.name.first %></h1>

<div>
  <dl>
    <dt>authority:</dt>
    <dd><%= @mads_topic.authority.first %></dd>
    <dt>uri:</dt>
    <dd><%= @mads_topic.valueURI.first %></dd>
  </dl>
  <% if can? :update, @mads_topic %>
    <%= link_to "Solr View", mads_topic_path(@mads_topic), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_topic_path(@mads_topic), class: "btn btn-primary"%>
    <%= link_to "View All", mads_topics_path(), class: "btn btn-primary"%>
  <% end %>
</div>
