<h1><%= @mads_topic.name.first %></h1>

<div>
  <dl>
    <dt>TopicElement:</dt>
    <dd><%= @mads_topic.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_topic.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_topic.externalAuthority.first %></dd>
  </dl>
  <% if can? :update, @mads_topic %>
    <%= link_to "Solr View", mads_topic_path(@mads_topic), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_topic_path(@mads_topic), class: "btn btn-primary"%>
    <%= link_to "View All", mads_topics_path(), class: "btn btn-primary"%>
  <% end %>
</div>
