<% @page_title =  "Edit Function" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Function</h2>
		
		<%= form_for @dams_function do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'dams_function[name][]', "Name" %>
			<%= text_field_tag 'dams_function[name][]', @dams_function.name[0], class: "input-block-level" %>
		
			<%= label_tag 'dams_function[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'dams_function[externalAuthority][]', @dams_function.externalAuthority, class: "input-block-level" %>

			<%= f.fields_for :scheme, include_id: false do |se| %>
            <%= se.label :id, "Scheme" %>
            <%= se.select :id, options_for_select(@mads_schemes, :selected => @scheme_id) , :prompt=>"Select MadsScheme" %>
        <% end %>
        <%= f.fields_for :functionElement do |te| %>
            <%= te.label :elementValue, "Element Value" %>
            <%= te.text_field :elementValue, class: "input-block-level" %>
        <% end %>
							
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", dams_function_path(@dams_function), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
