<h1>Create a new Dams Function</h1>
<%= form_for @dams_function do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'dams_function[name]', "Name" %>
  <%= text_field_tag 'dams_function[name]' %>
  <%= label_tag 'dams_function[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'dams_function[externalAuthority]' %> 
  <%= f.fields_for :functionElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>
  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>
  <% end %>
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
