<p id="notice"><%= notice %></p>


<ul class='nav nav-tabs'>
  <% Aeon::Queue::QUEUE_LOCAL_NAMES.each do |key, queue_name| %>
    <li role="presentation" class="<%= 'active' if params[:id] == key.to_s %>">
      <%= link_to queue_name, aeon_queue_path(key) %>
    </li>
  <% end %>
</ul>

<h3><%= @aeon_queue.name %> Requests</h3>
<table class='table table-striped'>
  <tr>
    <th>Aeon Ref. ID</th>
    <th>User Email</th>
    <th>Work</th>
    <th>Actions</th>
  </tr>
  <% @aeon_queue.requests.each do |request| %>
    <tr>
      <td><%= request.id %></td>
      <td><%= request.email %></td>
      <td><%= request.itemTitle %></td>
      <td>
        <% if request.transactionStatus == Aeon::Queue::NEW_STATUS %>
          <%= link_to "Activate", set_to_active_aeon_request_path(request.id), class: 'btn btn-primary' %>
        <% elsif request.transactionStatus == Aeon::Queue::ACTIVE_STATUS %>
          <%= link_to "Expire", set_to_expire_aeon_request_path(request.id), class: 'btn btn-warning' %>
          <%= link_to "Renew", set_to_new_aeon_request_path(request.id), class: 'btn btn-success' %>
        <% elsif request.transactionStatus == Aeon::Queue::EXPIRED_STATUS %>
          <%= link_to "Renew", set_to_new_aeon_request_path(request.id), class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', aeon_queues_path %>
