<% @page_title =  "Edit Occupation" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Occupation</h2>
		
		<%= form_for @mads_occupation do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_occupation[name][]', "Name" %>
			<%= text_field_tag 'mads_occupation[name][]', @mads_occupation.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_occupation[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_occupation[externalAuthority][]', @mads_occupation.externalAuthority, class: "input-block-level" %>

		      <%= f.fields_for :scheme, include_id: false do |se| %>
		        <%= se.label :id, "Scheme" %>
		        <%= se.select :id, options_for_select(@mads_schemes.collect{ |v| [v.name.first, Rails.configuration.id_namespace+ v.pid] } ) , :prompt=>"Select MadsScheme" %>
		      <% end %>
		      <%= f.fields_for :occupationElement do |te| %>
		        <%= te.label :elementValue, "Element Value" %>
		        <%= te.text_field :elementValue, class: "input-block-level" %>
		      <% end %>
				
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_occupation_path(@mads_occupation), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
