<h1>Create a new MADS Occupation</h1>
<%= form_for @mads_occupation do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_occupation[name]', "Name" %>
  <%= text_field_tag 'mads_occupation[name]' %>
  <%= label_tag 'mads_occupation[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_occupation[externalAuthority]' %> 
   <%= f.fields_for :occupationElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>

  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>
  <% end %>
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
