<h1>Create a new MADS Occupation</h1>
<%= form_for @mads_occupation do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_occupation[name]', "Name" %>
  <%= text_field_tag 'mads_occupation[name]' %>
  <%= label_tag 'mads_occupation[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_occupation[externalAuthority]' %> 
  <%= label_tag 'mads_occupation[elementValue]', "OccupationElement" %>
  <%= text_field_tag 'mads_occupation[elementValue]' %> 
  <br>
  <%= select_tag 'mads_occupation[scheme]', options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>    
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
