<h1><%= @mads_occupation.name.first %></h1>

<div>
  <dl>
    <dt>OccupationElement:</dt>
    <dd><%= @mads_occupation.elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @mads_occupation.scheme %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_occupation.externalAuthority %></dd>
  </dl>
  <% if can? :update, @mads_occupation %>
    <%= link_to "Solr View", mads_occupation_path(@mads_occupation), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_occupation_path(@mads_occupation), class: "btn btn-primary"%>
    <%= link_to "View All", mads_occupations_path(), class: "btn btn-primary"%>
  <% end %>
</div>
