<% @page_title =  "Edit Personal Name" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Personal Name</h2>
		
		<%= form_for @mads_personal_name do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_personal_name[name][]', "Authoritative Label" %>
			<%= text_field_tag 'mads_personal_name[name][]', @mads_personal_name.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_personal_name[authority][]', "Authority" %>
			<%= text_field_tag 'mads_personal_name[authority][]', @mads_personal_name.authority[0], class: "input-block-level" %>

			<%= label_tag 'mads_personal_name[valueURI][]', "URI" %>
			<%= text_field_tag 'mads_personal_name[valueURI][]', @mads_personal_name.valueURI, class: "input-block-level" %>
				
			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_personal_name_path(@mads_personal_name), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
