<% @page_title =  "Edit Personal Name" %>

<div class="row-fluid">
	<div class="span10 offset1">
	
		<h2>Edit Personal Name</h2>
		
		<%= form_for @mads_personal_name do |f| %>
		
			<%= render 'error_messages', object: f.object %>
		
			<%= label_tag 'mads_personal_name[name][]', "Name" %>
			<%= text_field_tag 'mads_personal_name[name][]', @mads_personal_name.name[0], class: "input-block-level" %>
		
			<%= label_tag 'mads_personal_name[externalAuthority][]', "ExternalAuthority" %>
			<%= text_field_tag 'mads_personal_name[externalAuthority][]', @mads_personal_name.externalAuthority, class: "input-block-level" %>

			<%= label_tag 'mads_personal_name[scheme][]', "scheme" %>
			<%= select_tag 'mads_personal_name[scheme][]', options_for_select(MadsScheme.all.collect{ |s| [s.name.first, s.pid] }, :selected => @scheme_id ) %>

			<%= f.fields_for :elementList do |el| %>
				<%= el.fields_for :fullNameElement do |full| %>
					<%= full.label :elementValue, "Full Name" %>
					<%= full.text_field :elementValue, @mads_personal_name.fullName %>
				<% end %>
				<%= el.fields_for :familyNameElement do |family| %>
					<%= family.label :elementValue, "Family Name" %>
					<%= family.text_field :elementValue, @mads_personal_name.familyName %>
				<% end %>
				<%= el.fields_for :givenNameElement do |given| %>
					<%= given.label :elementValue, "Given Name" %>
					<%= given.text_field :elementValue, @mads_personal_name.givenName %>
				<% end %>
				<%= el.fields_for :termsOfAddressNameElement do |termsOfAddress| %>
					<%= termsOfAddress.label :elementValue, "Terms of Address" %>
					<%= termsOfAddress.text_field :elementValue, @mads_personal_name.termsOfAddress %>
				<% end %>
				<%= el.fields_for :dateNameElement do |date| %>
					<%= date.label :elementValue, "Dates" %>
					<%= date.text_field :elementValue, @mads_personal_name.date %>
				<% end %>
			<% end %>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary pull-right">Save changes</button>
				<%= link_to "Cancel", mads_personal_name_path(@mads_personal_name), class: "btn btn-link pull-right" %>
			</div>
				
		
		<%end%>
	
	</div>
</div>
