<%
	@collection_title = render_document_show_field_value(:document=>@document, :field=>'title_tesim')
	@page_title = "#{@collection_title} (Collection)"
%>

<div class="row-fluid">
	<div class="span12">
		<%= render :partial => 'dams_objects/prev_next' %>
	</div>
</div>

<div class="row-fluid dams-collections">
	<div class="span8">
	  <%= render :partial => 'shared/fields/title' %>
		<dl>
		  <%= render :partial => 'shared/fields/show_raw' %>
		</dl>
		<%#= render :partial => 'metadata' %>
	</div>

	<div class="span4">
		<div class="well">
		  <%= render :partial => 'search' %>
		</div>
	</div>

</div>

<div class="row-fluid">
	<section class="dams-comments span8">
		<%= render :partial => 'dams_objects/comments' %>
	</section>
</div>

<%= render :partial => 'show_damstools' %>
