<h1>Create a new DAMS Statute</h1>
<%= form_for @dams_statute do |f| %>
  <%= label_tag 'dams_statute[citation]', "Citation" %><%= text_field_tag 'dams_statute[citation]' %>
  <%= label_tag 'dams_statute[jurisdiction]', "Jurisdiction" %><%= text_field_tag 'dams_statute[jurisdiction]' %>
  <%= label_tag 'dams_statute[note]', "Note" %><%= text_field_tag 'dams_statute[note]' %>
  <%= label_tag 'dams_statute[permissionBeginDate]', "Permission Begin Date" %><%= text_field_tag 'dams_statute[permissionBeginDate]' %>
  <%= label_tag 'dams_statute[permissionEndDate]', "Permission End Date" %><%= text_field_tag 'dams_statute[permissionEndDate]' %>
  <%= label_tag 'dams_statute[permissionType]', "Permission Type" %><%= text_field_tag 'dams_statute[permissionType]' %>
  <%= label_tag 'dams_statute[restrictionBeginDate]', "Restriction Begin Date" %><%= text_field_tag 'dams_statute[restrictionBeginDate]' %>
  <%= label_tag 'dams_statute[restrictionEndDate]', "Restriction End Date" %><%= text_field_tag 'dams_statute[restrictionEndDate]' %>
  <%= label_tag 'dams_statute[restrictionType]', "Restriction Type" %><%= text_field_tag 'dams_statute[restrictionType]' %>
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
<%end%>
