<h1>Create a new Dams BuiltWorkPlace</h1>
<%= form_for @dams_built_work_place do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'dams_built_work_place[name]', "Name" %>
  <%= text_field_tag 'dams_built_work_place[name]' %>
  <%= label_tag 'dams_built_work_place[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'dams_built_work_place[externalAuthority]' %> 
  
  <%= f.fields_for :builtWorkPlaceElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>
  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>
  <% end %>
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
