<h1><%= @dams_built_work_place.name.first %></h1>

<div>
  <dl>
    <dt>BuiltWorkPlaceElement:</dt>
    <dd><%= @dams_built_work_place.elementList[0].elementValue %></dd>
    <dt>Scheme:</dt>
    <dd><%= @dams_built_work_place.scheme.first.pid %></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @dams_built_work_place.externalAuthority.first %></dd>
  </dl>
  <%= render :partial => 'shared/edit_fields/view_form_hidden_fields' , :locals => {:object => @dams_built_work_place, :parent_id => params[:parent_id], :parent_class => params[:parent_class]}%>

</div>
