<h1>New DAMS Provenance Collection Part</h1>
<%= form_for @dams_provenance_collection_part do |f| %>
   <%= label_tag 'dams_provenance_collection_part[titleValue][]', "First Title" %>
  <%= text_field_tag 'dams_provenance_collection_part[titleValue][]' %>
  <%= label_tag 'dams_provenance_collection_part[subtitle][]', "First SubTitle" %>
  <%= text_field_tag 'dams_provenance_collection_part[subtitle][]' %> 
  <%= label_tag 'dams_provenance_collection_part[titlePartName][]', "First PartName" %>
  <%= text_field_tag 'dams_provenance_collection_part[titlePartName][]' %>  
  <%= label_tag 'dams_provenance_collection_part[titlePartNumber][]', "First PartNumber" %>
  <%= text_field_tag 'dams_provenance_collection_part[titlePartNumber][]' %> 
  <%= label_tag 'dams_provenance_collection_part[titleNonSort][]', "First NonSort" %>
  <%= text_field_tag 'dams_provenance_collection_part[titleNonSort][]' %> 

<!--
  <%= label_tag 'dams_provenance_collection_part[titleValue][]', "2nd Title" %>
  <%= text_field_tag 'dams_provenance_collection_part[titleValue][]' %>
-->

  <%= label_tag 'dams_provenance_collection_part[dateValue][]', "Date" %>
  <%= text_field_tag 'dams_provenance_collection_part[dateValue][]' %>
  <%= label_tag 'dams_provenance_collection_part[beginDate][]', "Begin Date" %>
  <%= text_field_tag 'dams_provenance_collection_part[beginDate][]' %> 
  <%= label_tag 'dams_provenance_collection_part[endDate][]', "End Date" %>
  <%= text_field_tag 'dams_provenance_collection_part[endDate][]' %>    

  <%= label_tag 'dams_provenance_collection_part[noteValue][]', "Note" %>
  <%= text_field_tag 'dams_provenance_collection_part[noteValue][]' %> 

  <%= label_tag 'dams_provenance_collection_part[noteType][]', "Note Type" %>
  <%= text_field_tag 'dams_provenance_collection_part[noteType][]' %> 

  <%= label_tag 'dams_provenance_collection_part[noteDisplayLabel][]', "Note Displaylabel" %>
  <%= text_field_tag 'dams_provenance_collection_part[noteDisplayLabel][]' %> 
  
  <%= label_tag 'dams_provenance_collection_part[scopeContentNoteValue][]', "Scope Content Note" %>
  <%= text_field_tag 'dams_provenance_collection_part[scopeContentNoteValue][]' %>  

  <%= label_tag 'dams_provenance_collection_part[scopeContentNoteType][]', "Scope Content Note Type" %>
  <%= text_field_tag 'dams_provenance_collection_part[scopeContentNoteType][]' %> 



 
  
 <%
     subjectTypeArray = [["BuiltWorkPlace", "BuiltWorkPlace"],["CulturalContext", "CulturalContext"],["Function", "Function"],["GenreForm", "GenreForm"],["Geographic", "Geographic"],["Iconography", "Iconography"],["ScientificName", "ScientificName"],["StylePeriod", "StylePeriod"],["Technique", "Technique"],["Temporal", "Temporal"],["Topic", "Topic"]]
  %>
  <%= label_tag 'dams_provenance_collection_part[subjectType][]', "Simple Subject" %>
  <%= select_tag 'dams_provenance_collection_part[subjectType][]',  options_for_select(subjectTypeArray) , :prompt=>"Select subject type"%>
  <%=text_field_tag 'dams_provenance_collection_part[subjectTypeValue][]' %> 
  <br>
  
   
  
  <%= label_tag 'dams_provenance_collection_part[subjectValue][]', "Complex Subject" %>
  <%= select_tag 'dams_provenance_collection_part[subjectURI][]', options_for_select(@mads_complex_subjects.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select predefined complex subject " %> 
  <%=text_field_tag 'dams_provenance_collection_part[subjectValue][]' %>
  <br>
  

  <%= label_tag 'dams_provenance_collection_part[relatedResourceType][]', "Related Resource Type" %>
  <%= text_field_tag 'dams_provenance_collection_part[relatedResourceType][]' %>
   <br>

   <%= label_tag 'dams_provenance_collection_part[relatedResourceUri][]', "Related Resource URI" %>
  <%= text_field_tag 'dams_provenance_collection_part[relatedResourceUri][]' %>
   <br>

   <%= label_tag 'dams_provenance_collection_part[relatedResourceDescription][]', "Related Resource Description" %>
  <%= text_field_tag 'dams_provenance_collection_part[relatedResourceDescription][]' %>
   <br>

   <%= select_tag 'dams_provenance_collection_part[languageURI][]', options_for_select(@mads_languages.collect{ |v| [v.name.first, v.pid] } ) , :prompt=>"Select Language" %>  
   <br>

    
  <%= select_tag 'dams_provenance_collection_part[damsObjectURI][]', options_for_select(@dams_objects.collect{ |v| [v.title.first.name.first, v.pid] } ) , :prompt=>"Select dams objects" %>  
  <br>

  <%= select_tag 'dams_provenance_collection_part[provenanceCollectionURI][]', options_for_select(@dams_provenance_collection.collect{ |v| [v.title.first.name.first, v.pid] } ) , :prompt=>"Select Provenance Collection" %>  
  <br>

  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_provenance_collection_part_parts_path, class: "btn btn-primary" %>
<%end%>
