<%
	collection_title = render_document_show_field_value(:document=>@document, :field=>'title_tesim')
	@page_title = "Object | #{collection_title}"
%>



<div class="row-fluid">
	<div class="span8 offset2 dams-collections well well-large">
		<%#= render :partial => 'show_damstools' %>
		<%= render :partial => 'shared/fields/title' %>
        <%= render :partial => 'dams_collections/metadata' %>
        <%= render :partial => 'dams_collections/search' %>
		
		<br>
		
		<% if can? :update, @dams_provenance_collection_part then %>
					<%= link_to "Edit", edit_dams_provenance_collection_part_path(@dams_provenance_collection_part), class: "btn btn-primary"%>
					<%= link_to "RDF View", normalized_rdf_path(@dams_provenance_collection_part.id), class: "btn btn-primary"%>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<section class="dams-comments span8 offset2">
		<%= render :partial => 'dams_objects/comments' %>
	</section>
</div>
