<h1>Cartographics</h1>
<div>projection: <%= @dams_cartographic.projection.first %></div>
<div>referenceSystem: <%= @dams_cartographic.referenceSystem.first %></div>
<div>scale: <%= @dams_cartographic.scale.first %></div>
<div>point: <%= @dams_cartographic.point.first %></div>
<div>line: <%= @dams_cartographic.line.first %></div>
<div>polygon: <%= @dams_cartographic.polygon.first %></div>
<div>
  <% if can? :update, @dams_cartographic then %>
  <%= link_to "Edit", edit_dams_cartographic_path(@dams_cartographic), class: "btn btn-primary" %>
  <% end %>
  <%= link_to "View All", dams_cartographics_path, class: "btn btn-primary" %>
</div>
