<h1>Create a new MADS Corporate Name</h1>
<%= form_for @mads_corporate_name do |f| %>
	<%= render 'error_messages' %>
  <%= label_tag 'mads_corporate_name[name]', "Name" %>
  <%= text_field_tag 'mads_corporate_name[name]' %>
	<%= label_tag 'mads_corporate_name[authority]', "Code" %>
  <%= text_field_tag 'mads_corporate_name[authority]' %>
  <%= label_tag 'mads_corporate_name[valueURI]', "URI" %>
  <%= url_field_tag 'mads_corporate_name[valueURI]' %>
  <br>

  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
