<% @page_title =  "Corporate Name | #{render_document_show_field_value(:document=>@document, :field=>"name_tesim")} " %>
<% corporateName = render_document_show_field_value(:document=>@document, :field=>"name_tesim") %>

<div class="row-fluid">

  <div id="content" class="show-document span9">

		<div class="row-fluid">
			<section class="dams-metadata span12">
				<p class="sidebar-header"><strong><%= corporateName %></strong></p>			
				<dl class="dl-horizontal">
					<%= render :partial => 'shared/fields/metadata' %>
				</dl>	
			</section>
		</div>

	 </div>    
	
	<div class="span3">
	
		<div class="well dams-search-box">
			<h4>Search</h4>
			<%= render_unit_search_bar  %>
		</div>
		
		<p class="sidebar-header"><strong>Browse By</strong></p>
		<ul class="unstyled sidebar-button-list">
			<!-- hack in browse by collection, for RCI demo -->
			<li><%= link_to "<i class='icon-eye-open'></i> Collection".html_safe, dams_collections_path, :class => "btn btn-block  btn-link" %></li>
			<%= render_browse_facet_links %>
		</ul>

    <% if can? :update, @document then %>
			<p class="sidebar-header"><strong>Editor Tools</strong></p>
			<ul class="unstyled sidebar-button-list">
			<li><%= link_to "<i class='icon-plus-sign'></i> Hydra View".html_safe, view_mads_corporate_name_path(@document['id']), class: "btn btn-block btn-small btn-link"%>     
      		<li><%= link_to "<i class='icon-plus-sign'></i> Edit".html_safe, edit_mads_corporate_name_path(@document['id']), class: "btn btn-block btn-small btn-link"%>
			</ul>
    <% end %>
				
	</div>

</div>


