<h1><%= @mads_corporate_name.name.first %></h1>

<div>
  <dl>
    <dt>authority:</dt>
    <dd><%= @mads_corporate_name.authority.first %></dd>
    <dt>uri:</dt>
    <dd><%= @mads_corporate_name.valueURI %></dd>
  </dl>
  <% if can? :update, @mads_corporate_name %>
    <%= link_to "Solr View", mads_corporate_name_path(@mads_corporate_name), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_mads_corporate_name_path(@mads_corporate_name), class: "btn btn-primary"%>
    <%= link_to "View All", mads_corporate_names_path(), class: "btn btn-primary"%>
  <% end %>
</div>
