<%= form_tag search_action_url, :method => :get, :class => 'search-query-form clearfix' do %>

	<%= search_as_hidden_fields(:params => { :unit => @current_unit.to_param }, :omit_keys => [:q, :search_field, :qt, :page]).html_safe %> 
	
	<% unless search_fields.empty? %>
		<label for="dams-search" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>
		<%= select_tag("dams-search", options_for_select(search_fields, h(params[:search_field])), :class=>"input-block-level") %>
		<span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
	<% end %>

	<label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
	<%= text_field_tag :q, params[:q], :placeholder => "For keywords...", :class => "search_q q input-block-level", :id => "q"%>

	<button type="submit" class="btn btn-primary pull-right">
		<i class="icon-search icon-white"></i>
		<span><%=t('blacklight.search.form.submit')%></span>
	</button>

<% end %>
