<% @page_title =  "Unit | #{render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim")} " %>
<h1><%# title %></h1>
<div class="row-fluid">
<div id="landingCarousel" class="carousel slide span6">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "http://placedog.com/g/460/500?a" %></div>
    <div class="item"><%= image_tag "http://placedog.com/g/460/500?b" %></div>
    <div class="item"><%= image_tag "http://placedog.com/g/460/500?c" %></div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#landingCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#landingCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="span6">
  <div>
    <h2><%= render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim") %></h2>
    <div>
      <%= render_document_show_field_value(:document=>@document, :field=>"unit_description_tesim") %>
    </div>
    <div>
      <%= link_to @document['unit_uri_tesim'].first, @document['unit_uri_tesim'].first %>
    </div>
    <% if can? :edit, DamsUnit then %>
      <%= link_to "Hydra View", dams_unit_path(@document['id_t']), class: "btn btn-primary"%>
      <%= link_to "Edit", edit_dams_unit_path(@document['id_t']), class: "btn btn-primary"%>
    <% end %>

  </div>

  <h2>Search</h2>
  <div class="well">
    <%= render_unit_search_bar  %>
  </div>

  <div>
	<h2>Browse</h2>
	<ul>
      <%= render_browse_facet_links %>
	</ul>
  </div>

</div>
</div>
