<h1>Edit MADS Language</h1>
<%= form_for @mads_language do |f| %>
		<%= render 'error_messages', object: f.object %>
	
		<%= label_tag 'mads_language[name]', "Name" %>
		<%= text_field_tag 'mads_language[name]', @mads_language.name[0], class: "input-block-level" %>

		<%= label_tag 'mads_language[code]', "Code" %>
		<%= text_field_tag 'mads_language[code]', @mads_language.code[0], class: "input-block-level" %>
			
		<%= label_tag 'mads_language[externalAuthority]', "ExternalAuthority" %>
		<%= text_field_tag 'mads_language[externalAuthority]', @mads_language.externalAuthority, class: "input-block-level" %>

	  <%= f.fields_for :scheme, include_id: false do |se| %>
	    <%= se.label :id, "Scheme" %>
	    <%= se.select :id, options_for_select(@mads_schemes , :selected => @scheme_id) , :prompt=>"Select MadsScheme" %>
	  <% end %>
	  <%= f.fields_for :languageElement do |te| %>
	    <%= te.label :elementValue, "Element Value" %>
	    <%= te.text_field :elementValue, class: "input-block-level" %>
	  <% end %>
						
		<div class="form-actions">
			<button type="submit" class="btn btn-primary pull-right">Save changes</button>
			<%= link_to "Cancel", mads_language_path(@mads_language), class: "btn btn-link pull-right" %>
		</div>
<%end%>
