<h1>Create a new MADS Language</h1>
<%= form_for @mads_language do |f| %>
  <%= render 'error_messages' %>
  <%= label_tag 'mads_language[name]', "Name" %>
  <%= text_field_tag 'mads_language[name]' %>
    <%= label_tag 'mads_language[code]', "Code" %>
  <%= text_field_tag 'mads_language[code]' %>
  <%= label_tag 'mads_language[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_language[externalAuthority]' %> 

  <%= f.fields_for :languageElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>

  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes) , :prompt=>"Select MadsScheme" %>
  <% end %>

  <br>
  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
