<h1>Create a new MADS Language</h1>
<script>
$(document).ready(function() {

 $('.new_mads_language').submit(function() {
	if(window.opener != null && window.location.href != window.opener.location.href) {
		//self.close();
		//window.opener.location.reload(true);
		alert("hey"+document.getElementById('popup').value);
		document.getElementById('popup').value = "true";
		alert("hey2"+document.getElementById('popup').value);
	}
    return true;
  });
});
</script>
<%= form_for @mads_language do |f| %>
  <%= render 'error_messages' %>
  <%= label_tag 'mads_language[name]', "Name" %>
  <%= text_field_tag 'mads_language[name]' %>
    <%= label_tag 'mads_language[code]', "Code" %>
  <%= text_field_tag 'mads_language[code]' %>
  <%= label_tag 'mads_language[externalAuthority]', "ExternalAuthority" %>
  <%= url_field_tag 'mads_language[externalAuthority]' %> 

  <%= f.fields_for :languageElement do |te| %>
    <%= te.label :elementValue, "Element Value" %>
    <%= te.text_field :elementValue %>
  <% end %>
  <br>

  <%= f.fields_for :scheme do |se| %>
    <%= se.label :id, "Scheme" %>
    <%= se.select :id, options_for_select(@mads_schemes) , {:include_blank => 'Select MadsScheme'}, :required => "true" %>
  <% end %>

  <!--input type="hidden" id="isPopupupp" value="false"/-->
  <%= hidden_field_tag "popup", "false" %>
  <br>
  <%=f.submit "Submit", class: "btn btn-primary" %>
<%end%>
