<div>
  <dl>
    <dt>Language:</dt>
    <dd><%#= @mads_language.elementList[0].elementValue %><%= @mads_language.name.first %></dd>
    <dt>Code:</dt>
    <dd><%= @mads_language.code.first%></dd>
    <dt>ExternalAuthority:</dt>
    <dd><%= @mads_language.externalAuthority.first %></dd>
  </dl>
  <input type="hidden" id="id" value="<%= @mads_language.id%>"/>
  <input type="hidden" id="name" value="<%= @mads_language.name.first%>"/>
  <br>
  <% if(!params[:parent_id].nil?) %>
  	<a href="#" onClick="javascript: setParentId_generic('<%= params[:parent_id]%>',true);">close</a>
  <% end %>
  <% if(!params[:parent_class].nil?) %>
  	<a href="#" onClick="javascript: setParentId_generic('<%= params[:parent_class]%>',false);">close</a>
  <% end %>  
  <%# if can? :update, @mads_language %>
    <%#= link_to "Solr View", mads_language_path(@mads_language), class: "btn btn-primary"%>
    <%#= link_to "Edit", edit_mads_language_path(@mads_language), class: "btn btn-primary"%>
    <%#= link_to "View All", mads_languages_path(), class: "btn btn-primary"%>
  <%# end %>
</div>