<section id="home-01">
  <%=image_tag '/assets/home-page/logo-dc.png', :alt => 'Digital Collections', :id => 'dc-logo' %>
  <%= form_tag catalog_index_url, :method => :get, :class => '', :id => 'dc-search-box' do %>
		<fieldset>
	    <input type="text" placeholder="Search..." name="q" id="q">
		  <input type="submit" value="" id="search-button"/>
		</fieldset>
  <% end %>
  <section id="broswe-by">
      Or browse by
	    <ul class="inline browse-by-list">
	      <li><%= link_to 'Collection', dams_collections_path %></li>
	      <%= render_browse_facet_links %>
	    </ul>
  </section>
  <section id="bg-meta"><a id="bg-link"></a></section>
</section>

<section id="home-02">
  <h2>The Digital Collections website gathers two categories of content managed by the UC San Diego Library</h2>
  <div class="category">
    <h3>Library Digital Collections</h3>
	  <%= link_to '<span class="visually-hidden">Library Digital Collections</span>'.html_safe, dams_unit_collections_path('dlp'), :class => 'cat-library' %>
    <p>Digitized versions of selected collections covering topics such as art, film, music, history and anthropology</p>
  </div>
  <div class="category">
    <h3>Research Cyberinfrastructure</h3>
    <%= link_to '<span class="visually-hidden">Research Cyberinfrastructure</span>'.html_safe, dams_unit_collections_path('rci'), :class => 'cat-rci' %>
    <p>Research data gathered by campus researchers as part of a campus-wide Research Cyberinfrastructure initiative</p>
  </div>
  <p class="invitation">Currently totaling 98,345 images, documents, data sets, audio and video,we continue to add items over time, and we invite you to search or browse these collections for research or educational purposes.</p>
</section>
