<h1><%= @dams_unit.name.first %></h1>

<div id="landingCarousel" class="carousel slide span6">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag "http://placedog.com/g/460/500?a" %></div>
    <div class="item"><%= image_tag "http://placedog.com/g/460/500?b" %></div>
    <div class="item"><%= image_tag "http://placedog.com/g/460/500?c" %></div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#landingCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#landingCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="span6">
  <div class="well">
    <h2>Search</h2>

    <div>
  	  <%= render_unit_search_bar  %>
    </div>
  </div>

  <div>
	<h2>Browse</h2>
	<ul>
      <%= render_browse_facet_links %>
	</ul>
  </div>

  <div>
    <%= @dams_unit.description.first %>
  </div>
  <div>
    <a href="<%= @dams_unit.uri.first %>">
      <%= @dams_unit.uri.first %>
    </a>
  </div>
  <% if can? :edit, DamsUnit then %>
    <%= link_to "Solr View", unit_path(@dams_unit.code), class: "btn btn-primary"%>
    <%= link_to "Edit", edit_dams_unit_path(@dams_unit), class: "btn btn-primary"%>
  <% end %>
</div>
