<% @page_title =  "Unit | #{render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim")} " %>
<% adminUnit = render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim") %>
<div class="row-fluid">
	<div class="span12">
		<h1><%= adminUnit %></h1>
	</div>
</div>

<div class="row-fluid">

	<div class="span4">

    <p class="sidebar-header"><strong>About the <%= render_document_show_field_value(:document=>@document, :field=>"unit_name_tesim") %></strong></p>
    <p><%= render_document_show_field_value(:document=>@document, :field=>"unit_description_tesim").html_safe %></p>
		<ul class="unstyled sidebar-button-list">
			<li><%= link_to "<i class='icon-globe'></i> #{@document['unit_uri_tesim'].first}".html_safe, @document['unit_uri_tesim'].first, :class => "btn btn-block  btn-link" %></li>
		</ul>
		
		<p class="sidebar-header"><strong>Browse By</strong></p>
		<ul class="unstyled sidebar-button-list">
			<!-- hack in browse by collection, for RCI demo -->
			<li><%= link_to "<i class='icon-eye-open'></i> Collection".html_safe, dams_unit_collections_path, :class => "btn btn-block  btn-link" %></li>
			<%= render_browse_facet_links(params[:id]) %>
		</ul>

				
	</div>

</div>


