<h1>Edit DAMS Assembled Collection</h1>
<%= form_for @dams_assembled_collection do |f| %>

<%
     visibilityArray = [["curator","curator"], ["local","local"], ["public","public"]]
  %>

<h3>Visibility</h3>
<%= select_tag 'dams_assembled_collection[visibility]', options_for_select(visibilityArray, :selected => @dams_assembled_collection.visibility), :prompt=>"Select visibility" %>


<%
     resourceTypeArray = [["text","text"], ["cartographic","cartographic"], ["notated music","notated music"], ["sound recording-musical","sound recording-musical"], ["sound recording-nonmusical","sound recording-nonmusical"] ,["sound recording","sound recording"], ["still image","still image"], ["moving image","moving image"], ["three dimensional object","three dimensional object"], ["software", "software"], ["multimedia","multimedia"], ["mixed material","mixed material"]]
  %>   
  <h3>Type Of Resource</h3>
  <%= select_tag 'dams_assembled_collection[resource_type][]',  options_for_select(resourceTypeArray , :selected => @dams_assembled_collection.resource_type), :prompt=>"Select Type of resource", required: true %>
  
  <%= label_tag 'dams_assembled_collection[titleValue]', "Title" %><%= text_field_tag 'dams_assembled_collection[titleValue][]', @dams_assembled_collection.titleValue[0] %>
  <%= label_tag 'dams_assembled_collection[dateValue]', "Date Value" %><%= text_field_tag 'dams_assembled_collection[dateValue][]', @dams_assembled_collection.dateValue[0] %>
  <%= label_tag 'dams_assembled_collection[beginDate]', "Begin Date" %><%= text_field_tag 'dams_assembled_collection[beginDate][]', @dams_assembled_collection.beginDate[0] %>
  <%= label_tag 'dams_assembled_collection[endDate]', "End Date" %><%= text_field_tag 'dams_assembled_collection[endDate][]', @dams_assembled_collection.endDate[0] %>
  <%= label_tag 'dams_assembled_collection[dateType]', "Date Type" %><%= text_field_tag 'dams_assembled_collection[dateType][]', @dams_assembled_collection.dateType[0], class: "input-block-level" %>
  <%= label_tag 'dams_assembled_collection[dateEncoding]', "Date Encoding" %><%= text_field_tag 'dams_assembled_collection[dateEncoding][]', @dams_assembled_collection.dateEncoding[0], class: "input-block-level" %>
  <%= label_tag 'dams_assembled_collection[scopeContentNoteValue]', "Scope Note" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteValue][]', @dams_assembled_collection.scopeContentNoteValue[0] %>
  <%= label_tag 'dams_assembled_collection[scopeContentNoteType]', "Scope Note Type" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteType][]', @dams_assembled_collection.scopeContentNoteType[0] %>
  <%= label_tag 'dams_assembled_collection[scopeContentNoteDisplayLabel]', "Scope Note DisplayLabel" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteDisplayLabel][]', @dams_assembled_collection.scopeContentNoteDisplayLabel[0] %>


  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_assembled_collection_path( @dams_assembled_collection ), class: "btn btn-primary" %>
<%end%>
