<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>
<h1>Edit a Dams Assembled Collection Object</h1>
<div class="dams-viewer">
<!--<%#= form_for @dams_assembled_collection do |f| %>-->

<%= form_for @dams_assembled_collection , :html => { :onsubmit => 'processForm_generic("#dams_assembled_collection_");' }  do |f| %>   
  
<%= render :partial => 'shared/edit_fields/visibility_form', :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

 <%= render :partial => 'shared/edit_fields/title_edit_form', :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/resourceType_form', :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/date_edit_form', :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :f => f}%>      
  
  <%= render :partial => 'shared/edit_fields/language_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :f => f}%>
    
  <%= render :partial => 'shared/edit_fields/notes_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :type => "note", :f => f}%>

  <%= render :partial => 'shared/edit_fields/notes_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :type => "scopeContentNote", :f => f}%>
  
  <%= render :partial => 'shared/edit_fields/notes_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :type => "custodialResponsibilityNote", :f => f}%>

  <%= render :partial => 'shared/edit_fields/notes_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :type => "preferredCitationNote", :f => f}%>

  <%= render :partial => 'shared/edit_fields/simple_subjects_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/complex_subjects_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :f => f}%> 
 
  <%= render :partial => 'shared/edit_fields/creator_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/relationship_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>
     
  <%= render :partial => 'shared/edit_fields/related_resource_edit_form' , :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection", :f => f}%>
      
  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_assembled_collection_path(@dams_assembled_collection),  class: "btn btn-primary" %> 
<%end%>


</div>