<h1>Edit Dams Collection</h1>
<%= form_for @dams_assembled_collection do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
 <%= f.label :titleType %>
  <%= f.text_field :titleType %>
  <%= f.label :beginDate %>
  <%= f.text_field :beginDate %>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <%= f.label :noteDisplayLabel %>
  <%= f.text_field :noteDisplayLabel %>
  <%= f.label :noteType %>
  <%= f.text_field :noteType %>
  <br>

   <%= f.submit "Save" %>
<% end %>
<p><%= link_to "View Dams Collection", dams_assembled_collection_path(@dams_assembled_collection)%></p>

