<h1>Create a new Dams Collection</h1>
<%= form_for @dams_assembled_collection do |f| %>
  <%= f.label :titleType %>
  <%= f.text_field :titleType %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :beginDate %>
  <%= f.text_field :beginDate %>
  <%= f.label :note %>
  <%= f.text_field :note %>
  <%= f.label :noteDisplayLabel %>
  <%= f.text_field :noteDisplayLabel %>
  <%= f.label :noteType %>
  <%= f.text_field :noteType %>
  <%= f.label :language %>
  <%= f.select(:language, options_from_collection_for_select(@dams_langs, :id, :language) , :prompt => 'Select Language') %>
  <br>
  <%= f.submit "Save" %>

<% end %>


