<h1>New DAMS Assembled Collection</h1>
<%= form_for @dams_assembled_collection do |f| %>
 
<h3>Has Provenance Collections</h3>
  <%= select_tag 'dams_assembled_collection[hasProvenanceCollectionURI][]', options_for_select(@dams_provenance_collections) , :prompt=>"Select Provenance Collection" %> 
  <br> 

  <%
     visibilityArray = [["curator","curator"], ["local","local"], ["public","public"]]
  %>  
  
<h3>Visibility</h3>
  <%= select_tag 'dams_assembled_collection[visibility][]', options_for_select(visibilityArray) , :prompt=>"Select Visibility" %>

<%
     resourceTypeArray = [["text","text"], ["cartographic","cartographic"], ["notated music","notated music"], ["sound recording-musical","sound recording-musical"], ["sound recording-nonmusical","sound recording-nonmusical"] ,["sound recording","sound recording"], ["still image","still image"], ["moving image","moving image"], ["three dimensional object","three dimensional object"], ["software", "software"], ["multimedia","multimedia"], ["mixed material","mixed material"]]
  %>  
    
  <h3>Type Of Resource</h3>  
  
  <%= select_tag 'dams_assembled_collection[resource_type][]',  options_for_select(resourceTypeArray) , :prompt=>"Select Type of resource", required: true %>

  <%= label_tag 'dams_assembled_collection[titleValue]', "Title" %><%= text_field_tag 'dams_assembled_collection[titleValue][]'%>
  <%= label_tag 'dams_assembled_collection[dateValue]', "Date Value" %><%= text_field_tag 'dams_assembled_collection[dateValue][]'%>
  <%= label_tag 'dams_assembled_collection[beginDate]', "Begin Date" %><%= text_field_tag 'dams_assembled_collection[beginDate][]'%>
  <%= label_tag 'dams_assembled_collection[endDate]', "End Date" %><%= text_field_tag 'dams_assembled_collection[endDate][]'%>
   <%= label_tag 'dams_assembled_collection[dateType][]', "Date Type" %>
  <%= text_field_tag 'dams_assembled_collection[dateType][]' %> 
  <%= label_tag 'dams_assembled_collection[dateEncoding][]', "Date Encoding" %>
  <%= text_field_tag 'dams_assembled_collection[dateEncoding][]' %>   
  <%= label_tag 'dams_assembled_collection[scopeContentNoteValue]', "Scope Note" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteValue][]'%>
  <%= label_tag 'dams_assembled_collection[scopeContentNoteType]', "Scope Note Type" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteType][]'%>
  <%= label_tag 'dams_assembled_collection[scopeContentNoteDisplayLabel]', "Scope Note DisplayLabel" %><%= text_field_tag 'dams_assembled_collection[scopeContentNoteDisplayLabel][]'%>

  <br>
  <%=f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", dams_assembled_collections_path, class: "btn btn-primary" %>
<%end%>
