<%= javascript_tag "var baseURL = '#{url_for( :controller => 'get_data', :only_path => false )}';" %>

<script>
$(document).ready(function() {
  loadCreateNewObjectOption_generic("#dams_assembled_collection_");
});
</script>

<h1>Create a New Dams Assembled Collection Object</h1>
<div class="dams-viewer">
<%= form_for @dams_assembled_collection , :html => { :onsubmit => 'processForm_generic("#dams_assembled_collection_");'} do |f| %>
   

<%= render :partial => 'shared/edit_fields/visibility_form', :locals => {:object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>


<%= render :partial => 'shared/edit_fields/title_form' , :locals => {:f => f}%>

<%= render :partial => 'shared/edit_fields/resourceType_form', :locals => {:f => f, :object => @dams_assembled_collection, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/date_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/notes_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/language_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>

   <%= render :partial => 'shared/edit_fields/simple_subjects_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>
  
  
  <%= render :partial => 'shared/edit_fields/complex_subjects_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%> 
       
 <%= render :partial => 'shared/edit_fields/creator_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>
    
<%= render :partial => 'shared/edit_fields/names_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>


<%= render :partial => 'shared/edit_fields/relationship_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>

  <%= render :partial => 'shared/edit_fields/related_resource_form' , :locals => {:f => f, :object_type => "dams_assembled_collection"}%>

     <%=f.submit "Save", class: "btn btn-primary" %>
     <%= link_to "Cancel", dams_assembled_collections_path, class: "btn btn-primary" %>
<%end%>
</div>