<h1><%= @dams_assembled_collection.titleValue.first %></h1>
<p>Date: <%= @dams_assembled_collection.dateValue.first %> (<%= @dams_assembled_collection.beginDate.first %>, <%= @dams_assembled_collection.endDate.first %>)</p>
<p><%= @dams_assembled_collection.scopeContentNoteDisplayLabel.first %>: <%= @dams_assembled_collection.scopeContentNoteValue.first %></p>
<div>
  <% if can? :edit, DamsAssembledCollection then %>
    <%= link_to "Edit", edit_dams_assembled_collection_path(@dams_assembled_collection), class: "btn btn-primary"%>
  <% end %>
  <%= link_to "View All", dams_assembled_collections_path, class: "btn btn-primary" %>
</div>
