<header>
  <section class="container-fluid ucsd-head visible-desktop">
    <a class="pull-right ucsd-head-logo" href="http://www.ucsd.edu"><%=image_tag "/assets/ucsd/logo-ucsd-header-xl.png", :alt => "UC San Diego" %></a>
    <a class="brand" href="http://libraries.ucsd.edu/">The Library</a>
  </section>
  <section class="navbar navbar-inverse">
    <div class="navbar-inner">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

<!--      <a class="btn btn-navbar btn-navsearch" data-toggle="collapse" data-target=".mobile-search-bar">
        <i class="icon-search icon-white"></i>
      </a>-->

      <a class="brand hidden-desktop" href="http://libraries.ucsd.edu/">The Library</a>

      <nav class="nav-collapse collapse">

        <ul class="nav">
          <li class="active"><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><a href="#contact">Contact</a></li>

          <% if current_user  %>
            <li>
              <%# Logged in as <a href="#" class="navbar-link"><%= current_user.uid ></a>. %>
              <%= link_to "Sign Out", destroy_user_session_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% end %>

        </ul>
      </nav>
    </div>
  </section>

  <section class="pull-right search-bar clearfix visible-desktop">
    <%= form_tag catalog_index_url, :method => :get, :class => 'form-search pull-right' do %>
      <label class="hide-text" for="q">Search DAMS</label>
      <input type="text" placeholder="Search DAMS" name="q" id="q" class="input-medium search-query">
      <button class="btn btn-inverse" type="submit">
        <i class="icon-search icon-white"></i>
      </button>
    <% end %>
  </section>


  <section class="container-fluid mobile-search-bar clearfix hidden-desktop collapse111">
    <%= form_tag catalog_index_url, :method => :get, :class => 'form-search' do %>
			<div class="input-append">
	      <input type="text" placeholder="Search DAMS" name="q" id="q" class="search-query">
	      <button class="btn btn-inverse" type="submit">
	        <i class="icon-search icon-white"></i>
	      </button>
			</div>
    <% end %>
  </section>











</header>