<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render :partial => 'layouts/head_common' %>
	</head>
	<body class="<%= render_body_class %>">
		<section id="messages" class="container-fluid">
			<%= render :partial=>'/flash_msg' %>
		</section>
		<section id="main-container" class="container-fluid">
			<%= yield %>
		</section>
		<%= render :partial => 'layouts/footer' %>
	</body>
</html>
